# Projekt iz SPI

## Checkpoint 1 za 09.03.2023:

Odabrati skup podataka i napraviti osnovnu analizu podataka u pythonu

Odabran skup podataka: **Secondhand Car Market Hungary**

Link na dataset: https://www.kaggle.com/datasets/attilakiss/secondhand-car-market-data-parsing-dataset-v1?select=advertisements_202006112147.csv

Osnovna analiza podataka:

- učitati iz csv u dataframe (pandas)
- pregled prvih 5 redaka
- veličina skupa
- nazivi stupaca
- broj nedostajućih vrijednosti po stupcu (.isna)
- jedinstvene vrijednosti (.unique())
- ispis tipova podataka (.dtypes)
- frekvencije vrijednosti po stupcu (petlja, data[column].value_counts())

Pitanja:

1. Da li je skup podataka dovoljno velik?
2. Da li skup ima dovoljno različite podatke?
3. Da li skup ima vremensku dimenziju?
4. Da li skup ima kvantitativne i kvalitativne podatke?
5. Da li skup ima puno nedostajućih vrijednosti?

Skup, rezultate analize i odgovore na pitanja kratko prezentirati (5 min.) na vježbama 09.03.

### Instalacija paketa

In [2]:
#import numpy as np
import pandas as pd
#from matplotlib import pyplot as plt
#from collections import Counter

### Učitavanje dataseta u dataframe

In [3]:
region_df = pd.read_csv('datasets/region_202006112147.csv')
model_df = pd.read_csv('datasets/model_202006112147.csv')
environmental_df = pd.read_csv('datasets/environmental_202006112147.csv')
drive_df = pd.read_csv('datasets/drive_202006112147.csv')
clime_df = pd.read_csv('datasets/clime_202006112147.csv')
category_df = pd.read_csv('datasets/category_202006112147.csv')
catalogs_df = pd.read_csv('datasets/catalogs_202006112147.csv')
car_types_df = pd.read_csv('datasets/car_type_202006112147.csv')
brand_df = pd.read_csv('datasets/brand_202006112147.csv')
advertisements_df = pd.read_csv('datasets/advertisements_202006112147.csv', low_memory=False)

In [4]:
# Removing useless columns
advertisements_df = advertisements_df.drop([
    "description",
    "advertisement_url",
    "sales_date",
    "download_date",
    "sales_update_date",
    "gas_id",
    "documentvalid",
    "color",
    "doorsnumber",
    "ccm",
    "person_capacity"
], axis=1)

catalogs_df = catalogs_df.drop([
    "msrp",
], axis=1)

In [5]:
# Removing rows with empty cells
catalogs_df = catalogs_df.dropna()
region_df = region_df.dropna()
car_types_df = car_types_df.dropna()

In [6]:
# Tranformacija tipova podataka
region_df = region_df.convert_dtypes()
model_df = model_df.convert_dtypes()
environmental_df = environmental_df.convert_dtypes()
drive_df = drive_df.convert_dtypes()
clime_df = clime_df.convert_dtypes()
category_df = category_df.convert_dtypes()
catalogs_df = catalogs_df.convert_dtypes()
car_types_df = car_types_df.convert_dtypes()
brand_df = brand_df.convert_dtypes()
advertisements_df = advertisements_df.convert_dtypes()

dates = [
    'upload_date',
    'start_production',
    'end_production',
    'documentvalid',
    'production'
]

for _date in dates:
    if _date in advertisements_df.columns:
        advertisements_df[_date] = pd.to_datetime(advertisements_df[_date])
    if _date in catalogs_df.columns:
        catalogs_df[_date] = pd.to_datetime(catalogs_df[_date])

In [7]:
# Merge dataframes into one main dataframe
main_df = pd.merge(advertisements_df, brand_df, on="brand_id", how="inner")
main_df = pd.merge(main_df, region_df, on="region_id", how="inner")
main_df = pd.merge(main_df, model_df, on="model_id", how="inner")
main_df = pd.merge(main_df, clime_df, on="clime_id", how="inner")
main_df = pd.merge(main_df, catalogs_df, on="catalog_url", how="inner")
main_df = pd.merge(main_df, drive_df, on="drive_id", how="inner")
main_df = pd.merge(main_df, car_types_df, on="car_type_id", how="inner")
main_df = pd.merge(main_df, category_df, on="category_id", how="inner")
main_df = pd.merge(main_df, environmental_df, on="environmental_id", how="inner")

### Pregled prvih 5 redaka

In [100]:
main_df.head()

,ad_id,region_id,ad_price,numpictures,proseller,adoldness,postalcode,production,mileage,clime_id,...,acceleration,torque,power,drive_name,drive_name_translated,car_type_name,car_type_name_translated,category_name,category_name_translated,environmental_name
0,15564920,5,1945000,9,True,39,5600,2005-06-01,177666,3,...,9.8,320,140,Első kerék,FWD,Sedan,Sedan,Középkategória,E-Segment,EURO 4
1,15404052,19,1299000,4,False,2,8500,2006-11-01,312000,1,...,9.8,320,140,Első kerék,FWD,Sedan,Sedan,Középkategória,E-Segment,EURO 4
2,15550647,14,1250000,6,False,7,2344,2006-06-01,290000,5,...,9.8,320,140,Első kerék,FWD,Sedan,Sedan,Középkategória,E-Segment,EURO 4
3,15555420,9,1280000,10,True,6,4032,2008-01-01,354799,5,...,9.8,320,140,Első kerék,FWD,Sedan,Sedan,Középkategória,E-Segment,EURO 4
4,15406966,17,350000,9,True,40,7030,2006-02-01,225000,4,...,9.8,320,140,Első kerék,FWD,Sedan,Sedan,Középkategória,E-Segment,EURO 4

### Veličina skupa

In [101]:
main_df.shape

(17942, 52)

### Nazivi stupaca

In [102]:
list(main_df.columns)

['ad_id',
 'region_id',
 'ad_price',
 'numpictures',
 'proseller',
 'adoldness',
 'postalcode',
 'production',
 'mileage',
 'clime_id',
 'shifter',
 'person_capacity_x',
 'brand_id',
 'model_id',
 'ccm_x',
 'highlighted',
 'upload_date',
 'catalog_url',
 'is_sold',
 'brand_name',
 'region_name',
 'model_name',
 'clime_name',
 'category_id',
 'start_production',
 'end_production',
 'car_type_id',
 'doorsnumber',
 'person_capacity_y',
 'weight',
 'fuel_tank',
 'boot_capacity',
 'fuel',
 'environmental_id',
 'cylinder_layout',
 'cylinders',
 'drive_id',
 'ccm_y',
 'consump_city',
 'consump_highway',
 'consump_mixed',
 'top_speed',
 'acceleration',
 'torque',
 'power',
 'drive_name',
 'drive_name_translated',
 'car_type_name',
 'car_type_name_translated',
 'category_name',
 'category_name_translated',
 'environmental_name']

### Broj nedostajućih vrijednosti po stupcu

In [103]:
col_null_values = {col: main_df[col].isna().sum() for col in main_df.columns}
col_null_values

{'ad_id': 0,
 'region_id': 0,
 'ad_price': 0,
 'numpictures': 0,
 'proseller': 0,
 'adoldness': 0,
 'postalcode': 0,
 'production': 0,
 'mileage': 0,
 'clime_id': 0,
 'shifter': 0,
 'person_capacity_x': 0,
 'brand_id': 0,
 'model_id': 0,
 'ccm_x': 0,
 'highlighted': 0,
 'upload_date': 0,
 'catalog_url': 0,
 'is_sold': 0,
 'brand_name': 0,
 'region_name': 0,
 'model_name': 0,
 'clime_name': 0,
 'category_id': 0,
 'start_production': 0,
 'end_production': 0,
 'car_type_id': 0,
 'doorsnumber': 0,
 'person_capacity_y': 0,
 'weight': 0,
 'fuel_tank': 0,
 'boot_capacity': 0,
 'fuel': 0,
 'environmental_id': 0,
 'cylinder_layout': 0,
 'cylinders': 0,
 'drive_id': 0,
 'ccm_y': 0,
 'consump_city': 0,
 'consump_highway': 0,
 'consump_mixed': 0,
 'top_speed': 0,
 'acceleration': 0,
 'torque': 0,
 'power': 0,
 'drive_name': 0,
 'drive_name_translated': 0,
 'car_type_name': 0,
 'car_type_name_translated': 0,
 'category_name': 0,
 'category_name_translated': 0,
 'environmental_name': 0}

### Jedinstvene vrijednosti

In [104]:
cols_unique_num = {col: len(main_df[col].unique()) for col in main_df.columns}
cols_unique_num

{'ad_id': 17942,
 'region_id': 20,
 'ad_price': 1343,
 'numpictures': 13,
 'proseller': 2,
 'adoldness': 785,
 'postalcode': 1475,
 'production': 289,
 'mileage': 7282,
 'clime_id': 6,
 'shifter': 26,
 'person_capacity_x': 10,
 'brand_id': 47,
 'model_id': 633,
 'ccm_x': 383,
 'highlighted': 2,
 'upload_date': 810,
 'catalog_url': 8642,
 'is_sold': 2,
 'brand_name': 47,
 'region_name': 20,
 'model_name': 633,
 'clime_name': 6,
 'category_id': 9,
 'start_production': 27,
 'end_production': 24,
 'car_type_id': 9,
 'doorsnumber': 4,
 'person_capacity_y': 8,
 'weight': 905,
 'fuel_tank': 66,
 'boot_capacity': 388,
 'fuel': 7,
 'environmental_id': 6,
 'cylinder_layout': 4,
 'cylinders': 8,
 'drive_id': 3,
 'ccm_y': 353,
 'consump_city': 188,
 'consump_highway': 98,
 'consump_mixed': 124,
 'top_speed': 132,
 'acceleration': 165,
 'torque': 282,
 'power': 209,
 'drive_name': 3,
 'drive_name_translated': 3,
 'car_type_name': 9,
 'car_type_name_translated': 9,
 'category_name': 9,
 'category_name_translated': 9,
 'environmental_name': 6}

### Tipovi podataka

In [105]:
main_df.dtypes

ad_id                                Int64
region_id                            Int64
ad_price                             Int64
numpictures                          Int64
proseller                          boolean
adoldness                            Int64
postalcode                           Int64
production                  datetime64[ns]
mileage                              Int64
clime_id                             Int64
shifter                             string
person_capacity_x                    Int64
brand_id                             Int64
model_id                             Int64
ccm_x                                Int64
highlighted                        boolean
upload_date                 datetime64[ns]
catalog_url                         string
is_sold                            boolean
brand_name                          string
region_name                         string
model_name                          string
clime_name                          string
category_id                          Int64
start_production            datetime64[ns]
end_production              datetime64[ns]
car_type_id                          Int64
doorsnumber                          Int64
person_capacity_y                    Int64
weight                               Int64
fuel_tank                            Int64
boot_capacity                        Int64
fuel                                string
environmental_id                     Int64
cylinder_layout                     string
cylinders                            Int64
drive_id                             Int64
ccm_y                                Int64
consump_city                       Float64
consump_highway                    Float64
consump_mixed                      Float64
top_speed                            Int64
acceleration                       Float64
torque                               Int64
power                                Int64
drive_name                          string
drive_name_translated               string
car_type_name                       string
car_type_name_translated            string
category_name                       string
category_name_translated            string
environmental_name                  string
dtype: object

### Frekvencije vrijednosti po stupcu

In [106]:
value_counts = [main_df[col].value_counts() for col in main_df.columns]
value_counts

[15564920    1
 12440272    1
 15253611    1
 15504420    1
 15340753    1
            ..
 15551226    1
 14761640    1
 14631941    1
 15299620    1
 15372474    1
 Name: ad_id, Length: 17942, dtype: Int64,
 3     3889
 14    2492
 4     1462
 8      982
 9      887
 2      792
 7      731
 16     709
 6      664
 19     635
 1      612
 18     600
 12     578
 20     538
 15     530
 10     487
 17     414
 11     407
 5      321
 13     212
 Name: region_id, dtype: Int64,
 1490000    373
 1990000    354
 599000     351
 1599000    343
 1999000    320
           ...
 4250000      1
 2875000      1
 2286000      1
 1925000      1
 2487000      1
 Name: ad_price, Length: 1343, dtype: Int64,
 6     6853
 12    4461
 5     1740
 11    1248
 10     855
 4      750
 9      558
 8      387
 3      329
 7      296
 0      205
 2      139
 1      121
 Name: numpictures, dtype: Int64,
 True     9967
 False    7975
 Name: proseller, dtype: Int64,
 2       634
 1       631
 4       543
 3       541
 5       481
        ...
 585       1
 991       1
 1310      1
 707       1
 1247      1
 Name: adoldness, Length: 785, dtype: Int64,
 6000    638
 4400    409
 8000    405
 9700    371
 6100    272
        ...
 9541      1
 2319      1
 7726      1
 9724      1
 3552      1
 Name: postalcode, Length: 1475, dtype: Int64,
 1900-01-01    1864
 2006-06-01     163
 2008-06-01     159
 2009-06-01     156
 2010-06-01     153
               ...
 1995-11-01       1
 1995-07-01       1
 2016-09-01       1
 2016-08-01       1
 2018-12-01       1
 Name: production, Length: 289, dtype: int64,
 200000    175
 250000    164
 220000    159
 240000    127
 180000    111
          ...
 355017      1
 127916      1
 159754      1
 202504      1
 48398       1
 Name: mileage, Length: 7282, dtype: Int64,
 2    5541
 5    4609
 1    2807
 4    2735
 3    1641
 6     609
 Name: clime_id, dtype: Int64,
 M5    9802
 M6    4462
 T6     820
 T5     575
 V0     346
 A6     297
 T7     248
 A5     218
 A0     190
 A4     184
 M0     182
 T8     167
 0      149
 S6      95
 A7      82
 S5      51
 T4      24
 A8      13
 F0      11
 S7       8
 T0       6
 S0       4
 A3       3
 T9       3
 M7       1
 M4       1
 Name: shifter, dtype: Int64,
 5     15465
 4      1361
 7       879
 6        84
 0        71
 2        55
 8        12
 9        11
 3         3
 11        1
 Name: person_capacity_x, dtype: Int64,
 69    1692
 98    1684
 13    1385
 31    1334
 8     1128
 76    1097
 59    1032
 93     770
 87     702
 83     689
 70     675
 29     668
 18     606
 57     541
 36     497
 66     383
 81     376
 39     317
 99     303
 4      266
 44     237
 20     230
 16     225
 63     222
 62     114
 47      77
 46      77
 19      74
 17      73
 86      69
 48      67
 73      67
 43      58
 42      46
 80      46
 84      24
 21      19
 45      18
 79      14
 85      12
 15       8
 40       6
 23       4
 10       4
 1        3
 60       2
 74       1
 Name: brand_id, dtype: Int64,
 18      527
 129     372
 6       369
 158     329
 27      329
        ...
 1272      1
 1051      1
 1080      1
 1141      1
 887       1
 Name: model_id, Length: 633, dtype: Int64,
 1598    1464
 1995     934
 1390     810
 1968     734
 1896     638
         ...
 2360       1
 698        1
 5980       1
 3124       1
 1682       1
 Name: ccm_x, Length: 383, dtype: Int64,
 False    16152
 True      1790
 Name: highlighted, dtype: Int64,
 2020-03-10    308
 2020-03-13    307
 2020-03-12    271
 2020-03-09    253
 2020-03-11    251
              ...
 2018-08-06      1
 2018-07-05      1
 2016-09-28      1
 2017-11-16      1
 2016-10-19      1
 Name: upload_date, Length: 810, dtype: int64,
 http://katalogus.hasznaltauto.hu/bmw/320d_tour...    30
 http://katalogus.hasznaltauto.hu/bmw/318d_tour...    29
 http://katalogus.hasznaltauto.hu/mercedes-benz...    28
 http://katalogus.hasznaltauto.hu/suzuki/swift_...    28
 http://katalogus.hasznaltauto.hu/suzuki/swift_...    27
                                                      ..
 http://katalogus.hasznaltauto.hu/renault/thali...     1
 http://katalogus.hasznaltauto.hu/renault/megan...     1
 http://katalogus.hasznaltauto.hu/audi/a8_3.3_t...     1
 http://katalogus.hasznaltauto.hu/renault/thali...     1
 http://katalogus.hasznaltauto.hu/volkswagen/go...     1
 Name: catalog_url, Length: 8642, dtype: Int64,
 False    14196
 True      3746
 Name: is_sold, dtype: Int64,
 OPEL             1692
 VOLKSWAGEN       1684
 BMW              1385
 FORD             1334
 AUDI             1128
 RENAULT          1097
 MERCEDES-BENZ    1032
 TOYOTA            770
 SUZUKI            702
 SKODA             689
 PEUGEOT           675
 FIAT              668
 CITROEN           606
 MAZDA             541
 HONDA             497
 NISSAN            383
 SEAT              376
 HYUNDAI           317
 VOLVO             303
 ALFA ROMEO        266
 KIA               237
 DAEWOO            230
 CHEVROLET         225
 MITSUBISHI        222
 MINI              114
 LAND ROVER         77
 LANCIA             77
 DACIA              74
 CHRYSLER           73
 SUBARU             69
 LEXUS              67
 PORSCHE            67
 JEEP               58
 JAGUAR             46
 SAAB               46
 SMART              24
 DAIHATSU           19
 LADA               18
 ROVER              14
 SSANGYONG          12
 CADILLAC            8
 INFINITI            6
 DODGE               4
 BENTLEY             4
 ABARTH              3
 MG                  2
 PROTON              1
 Name: brand_name, dtype: Int64,
 Budapest                        3889
 Pest megye                      2492
 Bács-Kiskun megye               1462
 Győr-Moson-Sopron megye          982
 Hajdú-Bihar megye                887
 Borsod-Abaúj-Zemplén megye       792
 Fejér megye                      731
 Szabolcs-Szatmár-Bereg megye     709
 Csongrád megye                   664
 Veszprém megye                   635
 Baranya megye                    612
 Vas megye                        600
 Komárom-Esztergom megye          578
 Zala megye                       538
 Somogy megye                     530
 Heves megye                      487
 Tolna megye                      414
 Jász-Nagykun-Szolnok megye       407
 Békés megye                      321
 Nógrád megye                     212
 Name: region_name, dtype: Int64,
 FOCUS      527
 SWIFT      372
 A4         369
 OCTAVIA    329
 MEGANE     329
           ...
 SERENA       1
 125          1
 RODIUS       1
 LOGO         1
 KAROQ        1
 Name: model_name, Length: 633, dtype: Int64,
 manual AC               5541
 digital 2zone AC        4609
 no AC                   2807
 digital AC              2735
 automatic AC            1641
 digital multizone AC     609
 Name: clime_name, dtype: Int64,
 1    5725
 4    3451
 6    3397
 2    1653
 3    1393
 9    1301
 7     530
 8     423
 5      69
 Name: category_id, dtype: Int64,
 2008-01-01    1638
 2004-01-01    1461
 2007-01-01    1429
 2006-01-01    1421
 2005-01-01    1391
 2009-01-01    1375
 2010-01-01    1305
 2003-01-01    1192
 2001-01-01    1154
 2000-01-01     887
 1999-01-01     844
 2002-01-01     771
 1998-01-01     682
 2011-01-01     602
 1996-01-01     563
 1997-01-01     420
 2012-01-01     329
 1995-01-01     190
 2014-01-01      90
 1994-01-01      67
 1993-01-01      38
 2013-01-01      36
 2017-01-01      27
 1992-01-01      20
 2015-01-01       5
 2016-01-01       4
 2018-01-01       1
 Name: start_production, dtype: int64,
 2010-01-01    2448
 2008-01-01    1695
 2013-01-01    1611
 2005-01-01    1417
 2009-01-01    1376
 2011-01-01    1251
 2007-01-01    1070
 2006-01-01     955
 2012-01-01     951
 2003-01-01     901
 2004-01-01     882
 2000-01-01     740
 2001-01-01     658
 1999-01-01     628
 2002-01-01     586
 2014-01-01     296
 1998-01-01     217
 1997-01-01     111
 2015-01-01     102
 2018-01-01      27
 1996-01-01      10
 2017-01-01       7
 2016-01-01       2
 2019-01-01       1
 Name: end_production, dtype: int64,
 6     7117
 9     3731
 12    3115
 5     1977
 13    1120
 3      514
 2      351
 14      14
 8        3
 Name: car_type_id, dtype: Int64,
 5    12184
 4     3241
 3     1808
 2      709
 Name: doorsnumber, dtype: Int64,
 5    15729
 4     1369
 7      668
 6       95
 2       60
 9       10
 8        7
 3        4
 Name: person_capacity_y, dtype: Int64,
 1505    195
 775     192
 1320    189
 1280    178
 1430    174
        ...
 1244      1
 1668      1
 1444      1
 959       1
 2222      1
 Name: weight, Length: 905, dtype: Int64,
 55     2826
 60     2271
 70     1686
 45     1490
 50     1112
        ...
 104       2
 97        2
 74        2
 101       1
 32        1
 Name: fuel_tank, Length: 66, dtype: Int64,
 500     765
 460     743
 350     726
 370     447
 520     410
        ...
 552       1
 307       1
 2390      1
 880       1
 1461      1
 Name: boot_capacity, Length: 388, dtype: Int64,
 Benzin             10015
 Dízel               7743
 Hibrid (Benzin)      139
 Etanol                32
 Benzin/Gáz            10
 Hibrid (Dízel)         2
 LPG                    1
 Name: fuel, dtype: Int64,
 4    7900
 5    3680
 7    3170
 3    2989
 2     134
 6      69
 Name: environmental_id, dtype: Int64,
 Soros    16642
 V         1214
 Boxer       84
 W            2
 Name: cylinder_layout, dtype: Int64,
 4     14991
 6      1582
 3       767
 5       301
 8       252
 2        23
 10       13
 12       13
 Name: cylinders, dtype: Int64,
 1    14179
 4     1922
 2     1841
 Name: drive_id, dtype: Int64,
 1598    1468
 1995     932
 1390     815
 1968     740
 1896     643
         ...
 5379       1
 4266       1
 2463       1
 1989       1
 1682       1
 Name: ccm_y, Length: 353, dtype: Int64,
 7.8     526
 7.6     497
 8.0     497
 8.7     448
 7.5     446
        ...
 22.6      1
 22.8      1
 24.2      1
 19.8      1
 18.5      1
 Name: consump_city, Length: 188, dtype: Int64,
 5.5     963
 5.2     901
 5.0     805
 4.8     796
 5.4     747
        ...
 13.7      1
 12.1      1
 13.1      1
 10.9      1
 12.2      1
 Name: consump_highway, Length: 98, dtype: Int64,
 5.9     941
 6.4     647
 6.7     639
 6.6     588
 5.7     564
        ...
 14.3      1
 16.7      1
 14.6      1
 1.2       1
 16.5      1
 Name: consump_mixed, Length: 124, dtype: Int64,
 170    829
 180    799
 185    680
 190    622
 175    577
       ...
 277      1
 288      1
 259      1
 301      1
 119      1
 Name: top_speed, Length: 132, dtype: Int64,
 13.0    517
 12.5    411
 10.5    402
 11.5    370
 12.0    368
        ...
 20.4      2
 19.6      1
 19.5      1
 4.3       1
 20.5      1
 Name: acceleration, Length: 165, dtype: Int64,
 320    1017
 250     623
 200     554
 240     553
 350     510
        ...
 303       1
 263       1
 237       1
 273       1
 610       1
 Name: torque, Length: 282, dtype: Int64,
 140    1034
 75      894
 90      846
 116     806
 101     755
        ...
 355       1
 517       1
 194       1
 352       1
 426       1
 Name: power, Length: 209, dtype: Int64,
 Első kerék     14179
 Összkerék       1922
 Hátsó kerék     1841
 Name: drive_name, dtype: Int64,
 FWD    14179
 AWD     1922
 RWD     1841
 Name: drive_name_translated, dtype: Int64,
 Ferdehátú                       7117
 Kombi                           3731
 Sedan                           3115
 Egyterű                         1977
 Városi terepjáró (crossover)    1120
 Coupe                            514
 Cabrio                           351
 Zárt                              14
 Kisbusz                            3
 Name: car_type_name, dtype: Int64,
 Hatchback    7117
 Estate       3731
 Sedan        3115
 Minivan      1977
 SUV          1120
 Coupe         514
 Cabrio        351
 Closed         14
 Minibus         3
 Name: car_type_name_translated, dtype: Int64,
 Alsó középkategória     5725
 Kisautók                3451
 Középkategória          3397
 Egyterű                 1653
 Felső középkategória    1393
 Terepjáró               1301
 Miniautók                530
 Nagykocsi                423
 Kishaszongépjármű         69
 Name: category_name, dtype: Int64,
 C-Segment    5725
 B-Segment    3451
 E-Segment    3397
 M-Segment    1653
 D-Segment    1393
 J-Segment    1301
 A-Segment     530
 F-Segment     423
 Utility        69
 Name: category_name_translated, dtype: Int64,
 EURO 4    7900
 EURO 5    3680
 na        3170
 EURO 3    2989
 EURO 2     134
 EURO 6      69
 Name: environmental_name, dtype: Int64]

### Pitanja

1. Da li je skup podataka dovoljno velik?

2. Da li skup ima dovoljno različite podatke?

3. Da li skup ima vremensku dimenziju?

4. Da li skup ima kvantitativne i kvalitativne podatke?

5. Da li skup ima puno nedostajućih vrijednosti?

## Checkpoint 2 za 23.03. i 30.03.2023

Izrada relacijskog modela i baze podataka

1. Izraditi ER dijagram (konceptualni dizajn baze):
- identificirati entitete
- identificirati atribute entiteta
- definirati odnose između entiteta
- definirati kardinalnost

2. Izraditi bazu podataka u DBMS-u (logički dizajn baze, npr. u MySQL)

3. Napuniti bazu podataka sa podacima iz CSVa
- napisati skriptu u Pythonu koja će napuniti bazu

## ER Dijagram

![ER Dijagram](image/er-diagram.png "ER Dijagram")

### Instalacija paketa za spajanje sa PostgreSQL bazom podataka

In [107]:
import psycopg2
from sqlalchemy import create_engine

### Spajanje s bazom podataka

In [108]:
conn_string = 'postgresql://postgres:password123@127.0.0.1/spi-projekt'
db = create_engine(conn_string)

### Kreiranje i popunjavanje tablica

In [109]:
try:
    region_table = region_df.to_sql('regions', db, if_exists='replace', index=False)
    model_table = model_df.to_sql('models', db, if_exists='replace', index=False)
    environmental_table = environmental_df.to_sql('environmentals', db, if_exists='replace', index=False)
    drive_table = drive_df.to_sql('drives', db, if_exists='replace', index=False)
    clime_table = clime_df.to_sql('climes', db, if_exists='replace', index=False)
    category_table = category_df.to_sql('categories', db, if_exists='replace', index=False)
    catalogs_table = catalogs_df.to_sql('catalogs', db, if_exists='replace', index=False)
    car_types_table = car_types_df.to_sql('car_types', db, if_exists='replace', index=False)
    brand_table = brand_df.to_sql('brands', db, if_exists='replace', index=False)
    advertisements_table = advertisements_df.to_sql('advertisements', db, if_exists='replace', index=False)
except Exception as ex:
    print(ex)
else:
    print("PostgreSQL tablice su kreirane i popunjene.")

PostgreSQL tablice su kreirane i popunjene.