# Projekt iz SPI

## Checkpoint 1 za 09.03.2023:

Odabrati skup podataka i napraviti osnovnu analizu podataka u pythonu

Odabran skup podataka: **Finance & Accounting Courses - Udemy (13K+ course)**

Link na dataset: https://www.kaggle.com/datasets/jilkothari/finance-accounting-courses-udemy-13k-course/discussion

Osnovna analiza podataka:

- učitati iz csv u dataframe (pandas)
- pregled prvih 5 redaka
- veličina skupa
- nazivi stupaca
- broj nedostajućih vrijednosti po stupcu (.isna)
- jedinstvene vrijednosti (.unique())
- ispis tipova podataka (.dtypes)
- frekvencije vrijednosti po stupcu (petlja, data[column].value_counts())

Pitanja:

1. Da li je skup podataka dovoljno velik?
2. Da li skup ima dovoljno različite podatke?
3. Da li skup ima vremensku dimenziju?
4. Da li skup ima kvantitativne i kvalitativne podatke?
5. Da li skup ima puno nedostajućih vrijednosti?

Skup, rezultate analize i odgovore na pitanja kratko prezentirati (5 min.) na vježbama 09.03.

### Instalacija paketa

In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
from collections import Counter

### Učitavanje dataseta u dataframe

In [2]:
df = pd.read_csv('finance-accounting-courses-udemy.csv')

### Pregled prvih 5 redaka

In [3]:
df.head()

,id,title,url,is_paid,num_subscribers,avg_rating,avg_rating_recent,rating,num_reviews,is_wishlisted,num_published_lectures,num_published_practice_tests,created,published_time,discount_price__amount,discount_price__currency,discount_price__price_string,price_detail__amount,price_detail__currency,price_detail__price_string
0,762616,The Complete SQL Bootcamp 2020: Go from Zero t...,/course/the-complete-sql-bootcamp/,True,295509,4.66019,4.67874,4.67874,78006,False,84,0,2016-02-14T22:57:48Z,2016-04-06T05:16:11Z,455.0,INR,₹455,8640.0,INR,"₹8,640"
1,937678,Tableau 2020 A-Z: Hands-On Tableau Training fo...,/course/tableau10/,True,209070,4.58956,4.60015,4.60015,54581,False,78,0,2016-08-22T12:10:18Z,2016-08-23T16:59:49Z,455.0,INR,₹455,8640.0,INR,"₹8,640"
2,1361790,PMP Exam Prep Seminar - PMBOK Guide 6,/course/pmp-pmbok6-35-pdus/,True,155282,4.59491,4.59326,4.59326,52653,False,292,2,2017-09-26T16:32:48Z,2017-11-14T23:58:14Z,455.0,INR,₹455,8640.0,INR,"₹8,640"
3,648826,The Complete Financial Analyst Course 2020,/course/the-complete-financial-analyst-course/,True,245860,4.54407,4.53772,4.53772,46447,False,338,0,2015-10-23T13:34:35Z,2016-01-21T01:38:48Z,455.0,INR,₹455,8640.0,INR,"₹8,640"
4,637930,An Entire MBA in 1 Course:Award Winning Busine...,/course/an-entire-mba-in-1-courseaward-winning...,True,374836,4.47080,4.47173,4.47173,41630,False,83,0,2015-10-12T06:39:46Z,2016-01-11T21:39:33Z,455.0,INR,₹455,8640.0,INR,"₹8,640"

### Veličina skupa

In [4]:
df.shape

(13608, 20)

### Nazivi stupaca

In [5]:
cols = list(df.columns)
cols

['id',
 'title',
 'url',
 'is_paid',
 'num_subscribers',
 'avg_rating',
 'avg_rating_recent',
 'rating',
 'num_reviews',
 'is_wishlisted',
 'num_published_lectures',
 'num_published_practice_tests',
 'created',
 'published_time',
 'discount_price__amount',
 'discount_price__currency',
 'discount_price__price_string',
 'price_detail__amount',
 'price_detail__currency',
 'price_detail__price_string']

### Broj nedostajućih vrijednosti po stupcu

In [6]:
df.isnull().sum()

id                                 0
title                              0
url                                0
is_paid                            0
num_subscribers                    0
avg_rating                         0
avg_rating_recent                  0
rating                             0
num_reviews                        0
is_wishlisted                      0
num_published_lectures             0
num_published_practice_tests       0
created                            0
published_time                     0
discount_price__amount          1403
discount_price__currency        1403
discount_price__price_string    1403
price_detail__amount             497
price_detail__currency           497
price_detail__price_string       497
dtype: int64

Null vrijednosti u stupcima `price_detail__amount`, `price_detail__currency`, `price_detail__price_string` označavaju da je cijena tečaja bila besplatna, a u stupcima `discount_price__amount`, `discount_price__currency`, `discount_price__price_string` označava da tečajevi nisu imali popust. Stoga im se može dodjeliti zadane vrijednost (`0`, `INR`, `₹`).

No postoji jedna greška... Postoji jedan tečaj koji se plača ali nisu upisane vrijednost plače. Stoga taj redak brišemo.

In [7]:
paid_df = df[df['is_paid'] == True]
paid_df = paid_df[paid_df['price_detail__amount'].isnull() == True]
paid_df

,id,title,url,is_paid,num_subscribers,avg_rating,avg_rating_recent,rating,num_reviews,is_wishlisted,num_published_lectures,num_published_practice_tests,created,published_time,discount_price__amount,discount_price__currency,discount_price__price_string,price_detail__amount,price_detail__currency,price_detail__price_string
13607,2935720,Acabou a Previdência e agora? - Volume 03,/course/acabou-a-previdencia-e-agora-volume-03/,True,0,0.0,0.0,0.0,0,False,14,0,2020-03-30T19:10:58Z,2020-04-02T16:33:32Z,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
# Dodavanje zadanih vrijednosti
df['discount_price__amount']=df['discount_price__amount'].fillna(value=0.0)
df['discount_price__currency']=df['discount_price__currency'].fillna(value='INR')
df['discount_price__price_string']=df['discount_price__price_string'].fillna(value='₹0')
df['price_detail__amount']=df['price_detail__amount'].fillna(value=0.0)
df['price_detail__currency']=df['price_detail__currency'].fillna(value='INR')
df['price_detail__price_string']=df['price_detail__price_string'].fillna(value='₹0')

In [9]:
# Test
df[df['id'] == 2935720]

,id,title,url,is_paid,num_subscribers,avg_rating,avg_rating_recent,rating,num_reviews,is_wishlisted,num_published_lectures,num_published_practice_tests,created,published_time,discount_price__amount,discount_price__currency,discount_price__price_string,price_detail__amount,price_detail__currency,price_detail__price_string
13607,2935720,Acabou a Previdência e agora? - Volume 03,/course/acabou-a-previdencia-e-agora-volume-03/,True,0,0.0,0.0,0.0,0,False,14,0,2020-03-30T19:10:58Z,2020-04-02T16:33:32Z,0.0,INR,₹0,0.0,INR,₹0

In [10]:
# Brisanje zadnje retka
idx = df[df['id'] == 2935720].index
df = df.drop(idx)
df.shape

(13607, 20)

### Jedinstvene vrijednosti

In [11]:
cols_uniques = {col: len(df[col].unique()) for col in cols}
cols_uniques

{'id': 13607,
 'title': 13562,
 'url': 13607,
 'is_paid': 2,
 'num_subscribers': 4875,
 'avg_rating': 1965,
 'avg_rating_recent': 11781,
 'rating': 11781,
 'num_reviews': 1285,
 'is_wishlisted': 1,
 'num_published_lectures': 301,
 'num_published_practice_tests': 7,
 'created': 13606,
 'published_time': 13604,
 'discount_price__amount': 54,
 'discount_price__currency': 1,
 'discount_price__price_string': 54,
 'price_detail__amount': 38,
 'price_detail__currency': 1,
 'price_detail__price_string': 38}

### Tipovi podataka

In [12]:
df.dtypes

id                                int64
title                            object
url                              object
is_paid                            bool
num_subscribers                   int64
avg_rating                      float64
avg_rating_recent               float64
rating                          float64
num_reviews                       int64
is_wishlisted                      bool
num_published_lectures            int64
num_published_practice_tests      int64
created                          object
published_time                   object
discount_price__amount          float64
discount_price__currency         object
discount_price__price_string     object
price_detail__amount            float64
price_detail__currency           object
price_detail__price_string       object
dtype: object

### Frekvencije vrijednosti po stupcu

In [13]:
for col in cols:
    print(df[col].value_counts())
    print()

762616     1
2798982    1
2492106    1
2446352    1
2508636    1
          ..
1161294    1
1355540    1
2295319    1
2291453    1
3211345    1
Name: id, Length: 13607, dtype: int64

Shopify Dropshipping - Scale to 7 figures with Clickfunnels!    2
Basics of Accounts and Finance made simple                      2
Fundamentals of Change Management                               2
Sales Fundamentals                                              2
Personal Finance 101                                            2
                                                               ..
Debit Spread For Half The Cost - Options Trading Reinvented     1
Freelance Mindset - Become an Unstoppable Freelance Force!      1
Forex Trading: A Simple Unique Approach For Massive Gains       1
Conversion Mastery: How to Optimize ANY Ecommerce Website       1
Poderoso Investidor                                             1
Name: title, Length: 13562, dtype: int64

/course/the-complete-sql-bootcamp/                                     1
/course/fundamentals-of-change-management-q/                           1
/course/the-essential-guide-to-freelancing-freelancer-success/         1
/course/how-to-win-government-contracts-for-everyone/                  1
/course/cx-in-industry-4/                                              1
                                                                      ..
/course/business-for-as-level-9609/                                    1
/course/new-debit-spread-for-half-the-cost-or-free-options-trading/    1
/course/freelance-mindset/                                             1
/course/how-to-use-the-moon-to-make-huge-gains-trading-forex/          1
/course/poderoso-investidor/                                           1
Name: url, Length: 13607, dtype: int64

True     13111
False      496
Name: is_paid, dtype: int64

0        214
1        169
2        117
3         93
5         91
        ...
12327      1
1935       1
3167       1
2424       1
456        1
Name: num_subscribers, Length: 4875, dtype: int64

0.00000    683
4.00000    562
4.50000    553
4.25000    436
5.00000    348
          ...
4.47564      1
4.50637      1
4.43464      1
4.18852      1
3.76316      1
Name: avg_rating, Length: 1965, dtype: int64

0.00000    683
5.00000    348
4.00000     71
3.00000     53
4.50000     45
          ...
4.60459      1
3.35622      1
3.76124      1
4.61578      1
4.78073      1
Name: avg_rating_recent, Length: 11781, dtype: int64

0.00000    683
5.00000    348
4.00000     71
3.00000     53
4.50000     45
          ...
4.60459      1
3.35622      1
3.76124      1
4.61578      1
4.78073      1
Name: rating, Length: 11781, dtype: int64

0       683
4       502
3       475
5       443
6       402
       ...
1067      1
1063      1
1061      1
1052      1
592       1
Name: num_reviews, Length: 1285, dtype: int64

False    13607
Name: is_wishlisted, dtype: int64

10     518
11     491
12     447
9      444
8      409
      ...
637      1
331      1
525      1
329      1
250      1
Name: num_published_lectures, Length: 301, dtype: int64

0    13007
2      214
1      202
6       67
5       43
3       39
4       35
Name: num_published_practice_tests, dtype: int64

2015-09-17T20:27:07Z    2
2016-02-14T22:57:48Z    1
2015-01-26T23:27:09Z    1
2019-08-14T07:14:59Z    1
2019-11-24T03:42:17Z    1
                       ..
2017-09-20T00:24:37Z    1
2019-03-28T10:23:21Z    1
2019-03-26T10:05:48Z    1
2017-09-07T17:41:32Z    1
2020-06-07T01:29:53Z    1
Name: created, Length: 13606, dtype: int64

2019-08-13T23:28:20Z    2
2020-05-12T21:50:10Z    2
2020-01-22T14:53:54Z    2
2016-04-06T05:16:11Z    1
2019-09-25T16:32:29Z    1
                       ..
2016-03-12T05:06:29Z    1
2017-06-02T18:03:20Z    1
2017-10-04T00:59:31Z    1
2019-06-25T20:47:53Z    1
2020-07-15T10:35:38Z    1
Name: published_time, Length: 13604, dtype: int64

455.0     11410
0.0        1402
468.0       135
700.0        86
3200.0       61
462.0        47
481.0        44
800.0        39
520.0        34
474.0        30
1600.0       27
488.0        27
640.0        24
494.0        22
480.0        17
2400.0       16
960.0        13
720.0        12
1440.0       11
2880.0       10
2080.0        9
1920.0        8
1520.0        8
1200.0        8
500.0         7
1120.0        7
2240.0        7
1280.0        6
514.0         6
2720.0        6
507.0         5
2000.0        5
560.0         5
2160.0        5
1360.0        5
1040.0        5
1760.0        4
1680.0        3
880.0         3
3040.0        3
2800.0        3
2640.0        2
2960.0        2
2560.0        2
3120.0        2
2320.0        2
552.0         2
533.0         2
546.0         2
540.0         2
1840.0        1
760.0         1
2480.0        1
611.0         1
Name: discount_price__amount, dtype: int64

INR    13607
Name: discount_price__currency, dtype: int64

₹455      11410
₹0         1402
₹468        135
₹700         86
₹3,200       61
₹462         47
₹481         44
₹800         39
₹520         34
₹474         30
₹1,600       27
₹488         27
₹640         24
₹494         22
₹480         17
₹2,400       16
₹960         13
₹720         12
₹1,440       11
₹2,880       10
₹2,080        9
₹1,920        8
₹1,520        8
₹1,200        8
₹500          7
₹1,120        7
₹2,240        7
₹1,280        6
₹514          6
₹2,720        6
₹507          5
₹2,000        5
₹560          5
₹2,160        5
₹1,360        5
₹1,040        5
₹1,760        4
₹1,680        3
₹880          3
₹3,040        3
₹2,800        3
₹2,640        2
₹2,960        2
₹2,560        2
₹3,120        2
₹2,320        2
₹552          2
₹533          2
₹546          2
₹540          2
₹1,840        1
₹760          1
₹2,480        1
₹611          1
Name: discount_price__price_string, dtype: int64

8640.0     3213
1280.0     3033
3200.0     1033
6400.0      984
1600.0      777
1920.0      689
0.0         496
2560.0      451
2240.0      406
6080.0      285
4800.0      251
2880.0      241
5120.0      183
3840.0      182
5760.0      166
4480.0      154
8000.0      142
3520.0      125
12800.0     123
7680.0       94
4160.0       93
8320.0       71
5440.0       67
6720.0       67
7040.0       62
9600.0       52
8960.0       52
7360.0       41
9280.0       34
10240.0       8
12480.0       8
11840.0       6
12160.0       4
11520.0       4
9920.0        3
11200.0       3
10560.0       2
10880.0       2
Name: price_detail__amount, dtype: int64

INR    13607
Name: price_detail__currency, dtype: int64

₹8,640     3213
₹1,280     3033
₹3,200     1033
₹6,400      984
₹1,600      777
₹1,920      689
₹0          496
₹2,560      451
₹2,240      406
₹6,080      285
₹4,800      251
₹2,880      241
₹5,120      183
₹3,840      182
₹5,760      166
₹4,480      154
₹8,000      142
₹3,520      125
₹12,800     123
₹7,680       94
₹4,160       93
₹8,320       71
₹5,440       67
₹6,720       67
₹7,040       62
₹9,600       52
₹8,960       52
₹7,360       41
₹9,280       34
₹10,240       8
₹12,480       8
₹11,840       6
₹12,160       4
₹11,520       4
₹9,920        3
₹11,200       3
₹10,560       2
₹10,880       2
Name: price_detail__price_string, dtype: int64

### Dodatne provjere

Provjera u slučaju ako je broj recenzija u nekim tečajevima veći od broj pretplatnika

In [14]:
subscriber_review_count_diff = df['num_reviews']>df['num_subscribers']
subscriber_review_count_diff.sum()

5

In [15]:
index = df[subscriber_review_count_diff].index
df = df.drop(index= index)
df.shape

(13602, 20)

In [16]:
df['id'].unique().size

13602

Broj pojedinih ID-jeva se poklapa s brojem stupaca što znači da se redovi ne ponavljaju

### Pitanja

1. [x] Da li je skup podataka dovoljno velik?
Sadrži `13602` redaka i `20` stupaca nakon obrade podataka. Dovoljno je.

2. [x] Da li skup ima dovoljno različite podatke?
Ima 13 stupaca i tipovi podataka su: `bool`, `float64`, `int64` i `object` tj. string i datum. Ima dovoljno različite podatke.

3. [x] Da li skup ima vremensku dimenziju?
Da, `created`, `published_time`.

4. [x] Da li skup ima kvantitativne i kvalitativne podatke?
Skup ima kvalitativne (npr. `is_paid`) i kvalitativne (npr. `num_subscribers`).

5. [ ] Da li skup ima puno nedostajućih vrijednosti?
Nedostajućih vrijednosti je bilo ukupno `5700` od `272140` (`2,09%`) čelija i obrađeni su. Sve čelije su popunjene. Također se ustanovilo da u nekim tečajevima postoji veći broj recenzija od pretplate, što je nemoguće i nelogično, stoga su ti redovi bili izbačeni.