# Projekt iz SPI

## Checkpoint 1 za 09.03.2023:

Odabrati skup podataka i napraviti osnovnu analizu podataka u pythonu

Odabran skup podataka: **Secondhand Car Market Hungary**

Link na dataset: https://www.kaggle.com/datasets/attilakiss/secondhand-car-market-data-parsing-dataset-v1?select=advertisements_202006112147.csv

Osnovna analiza podataka:

- učitati iz csv u dataframe (pandas)
- pregled prvih 5 redaka
- veličina skupa
- nazivi stupaca
- broj nedostajućih vrijednosti po stupcu (.isna)
- jedinstvene vrijednosti (.unique())
- ispis tipova podataka (.dtypes)
- frekvencije vrijednosti po stupcu (petlja, data[column].value_counts())

Pitanja:

1. Da li je skup podataka dovoljno velik?
2. Da li skup ima dovoljno različite podatke?
3. Da li skup ima vremensku dimenziju?
4. Da li skup ima kvantitativne i kvalitativne podatke?
5. Da li skup ima puno nedostajućih vrijednosti?

Skup, rezultate analize i odgovore na pitanja kratko prezentirati (5 min.) na vježbama 09.03.

### Instalacija paketa

In [367]:
import numpy as np
import pandas as pd
import itertools
#from matplotlib import pyplot as plt
#from collections import Counter

### Učitavanje dataseta u dataframe

In [368]:
region_df = pd.read_csv('datasets/region_202006112147.csv')
model_df = pd.read_csv('datasets/model_202006112147.csv')
environmental_df = pd.read_csv('datasets/environmental_202006112147.csv')
drive_df = pd.read_csv('datasets/drive_202006112147.csv')
clime_df = pd.read_csv('datasets/clime_202006112147.csv')
category_df = pd.read_csv('datasets/category_202006112147.csv')
catalogs_df = pd.read_csv('datasets/catalogs_202006112147.csv')
car_types_df = pd.read_csv('datasets/car_type_202006112147.csv')
brand_df = pd.read_csv('datasets/brand_202006112147.csv')
advertisements_df = pd.read_csv('datasets/advertisements_202006112147.csv', low_memory=False)

In [369]:
main_df = pd.merge(advertisements_df, brand_df, on="brand_id", how="inner")
main_df = pd.merge(main_df, region_df, on="region_id", how="inner")
main_df = pd.merge(main_df, model_df, on="model_id", how="inner")
main_df = pd.merge(main_df, clime_df, on="clime_id", how="inner")
main_df = pd.merge(main_df, catalogs_df, on="catalog_url", how="inner")
main_df = pd.merge(main_df, drive_df, on="drive_id", how="inner")
main_df = pd.merge(main_df, car_types_df, on="car_type_id", how="inner")
main_df = pd.merge(main_df, category_df, on="category_id", how="inner")
main_df = pd.merge(main_df, environmental_df, on="environmental_id", how="inner")

In [370]:
main_df = main_df.drop([
    "description",
    "adoldness",
    "advertisement_url",
    "sales_date",
    "download_date",
    "sales_update_date",
    "gas_id",
    "documentvalid",
    "color",
    "doorsnumber_x",
    "ccm_x",
    "person_capacity_x",
    "msrp",
    "doorsnumber_y",
    "ccm_y",
    "person_capacity_y",
    "car_type_name",
    "category_name",
    "drive_name"
], axis=1)

main_df = main_df.replace({
    'no catalog': np.nan,
    'null': np.nan,
    'na': np.nan,
    'Nan': np.nan,
    'NaN': np.nan,
    'no AC': np.nan
})

# Setting english names for car types, categories and drives
main_df.rename(columns = {
    'car_type_name_translated': 'car_type_name',
    'category_name_translated': 'category_name',
    'drive_name_translated': 'drive_name'
}, inplace = True)

main_df = main_df.dropna()
main_df.columns

Index(['ad_id', 'region_id', 'ad_price', 'numpictures', 'proseller',
       'postalcode', 'production', 'mileage', 'clime_id', 'shifter',
       'brand_id', 'model_id', 'highlighted', 'upload_date', 'catalog_url',
       'is_sold', 'brand_name', 'region_name', 'model_name', 'clime_name',
       'category_id', 'start_production', 'end_production', 'car_type_id',
       'weight', 'fuel_tank', 'boot_capacity', 'fuel', 'environmental_id',
       'cylinder_layout', 'cylinders', 'drive_id', 'consump_city',
       'consump_highway', 'consump_mixed', 'top_speed', 'acceleration',
       'torque', 'power', 'drive_name', 'car_type_name', 'category_name',
       'environmental_name'],
      dtype='object')

In [371]:
import pgeocode

nomi = pgeocode.Nominatim('hu')

postal_code_city_map = lambda x: nomi.query_postal_code(x).place_name

postal_codes_df = main_df[["region_id", "postalcode"]]
postal_codes_df = postal_codes_df.drop_duplicates(subset='postalcode')
postal_codes_df['city_name'] = postal_codes_df['postalcode'].map(postal_code_city_map)
postal_codes_df = postal_codes_df.rename(columns={"postalcode": "postal_code"})

postal_codes_df

       region_id  postal_code  city_name
12967          9         4002   Debrecen
12968         10         3000     Hatvan
12972          7         2481    Velence
12977          3         1039   Budapest
13075          3         1185   Budapest
...          ...          ...        ...
37953          8         9345       Páli
38034          6         6921  Maroslele
38054          8         9113    Koroncó
38058          4         6446        Rém
38081          2         3630     Putnok

[1156 rows x 3 columns]

In [372]:
city_df = pd.DataFrame(postal_codes_df[['city_name', 'region_id']])
city_df = city_df.drop_duplicates().dropna()
city_df['city_id'] = city_df.index
city_df

       city_name  region_id  city_id
12967   Debrecen          9    12967
12968     Hatvan         10    12968
12972    Velence          7    12972
12977   Budapest          3    12977
13076    Miskolc          2    13076
...          ...        ...      ...
37953       Páli          8    37953
38034  Maroslele          6    38034
38054    Koroncó          8    38054
38058        Rém          4    38058
38081     Putnok          2    38081

[884 rows x 3 columns]

In [373]:
# postal_codes table

postal_codes_df = pd.merge(postal_codes_df, city_df, on="city_name", how="inner")
postal_codes_df = postal_codes_df[['postal_code', 'city_id']]
postal_codes_df

      postal_code  city_id
0            4002    12967
1            4032    12967
2            4031    12967
3            4030    12967
4            4028    12967
...           ...      ...
1137         9345    37953
1138         6921    38034
1139         9113    38054
1140         6446    38058
1141         3630    38081

[1142 rows x 2 columns]

In [374]:
region_df

    region_id                   region_name
0           1                 Baranya megye
1           2    Borsod-Abaúj-Zemplén megye
2           3                      Budapest
3           4             Bács-Kiskun megye
4           5                   Békés megye
5           6                Csongrád megye
6           7                   Fejér megye
7           8       Győr-Moson-Sopron megye
8           9             Hajdú-Bihar megye
9          10                   Heves megye
10         11    Jász-Nagykun-Szolnok megye
11         12       Komárom-Esztergom megye
12         13                  Nógrád megye
13         14                    Pest megye
14         15                  Somogy megye
15         16  Szabolcs-Szatmár-Bereg megye
16         17                   Tolna megye
17         18                     Vas megye
18         19                Veszprém megye
19         20                    Zala megye
20         21                           NaN

In [375]:
brands_models = main_df[["model_id", "model_name", "brand_id", "brand_name"]]
model_df = brands_models.drop_duplicates(subset="model_id")[["model_id", "model_name", "brand_id"]]
model_df.sort_values("model_id", inplace=True)
brand_df = brands_models.drop_duplicates(subset="brand_id")[["brand_id", "brand_name"]]
brand_df.sort_values("brand_id", inplace=True)

In [376]:
brand_df

       brand_id     brand_name
13678         1         ABARTH
14980         4     ALFA ROMEO
13075         8           AUDI
13166        13            BMW
19608        15       CADILLAC
13681        16      CHEVROLET
26054        17       CHRYSLER
13787        18        CITROEN
16123        19          DACIA
35000        20         DAEWOO
18600        21       DAIHATSU
34569        23          DODGE
13652        29           FIAT
13726        31           FORD
14428        36          HONDA
13702        39        HYUNDAI
13982        40       INFINITI
13324        42         JAGUAR
19349        43           JEEP
14914        44            KIA
14569        46         LANCIA
19294        47     LAND ROVER
15345        48          LEXUS
14472        57          MAZDA
12967        59  MERCEDES-BENZ
18097        62           MINI
14501        63     MITSUBISHI
14104        66         NISSAN
14197        69           OPEL
13590        70        PEUGEOT
14002        73        PORSCHE
13207        76        RENAULT
34917        79          ROVER
16744        80           SAAB
14250        81           SEAT
13076        83          SKODA
26667        84          SMART
33355        85      SSANGYONG
13255        86         SUBARU
13696        87         SUZUKI
13707        93         TOYOTA
13251        98     VOLKSWAGEN
13179        99          VOLVO

In [377]:
model_df

       model_id  model_name  brand_id
16571         1      MONDEO        31
33129         3        XC90        99
17174         5         V60        99
16715         6          A4         8
23560         8       C 220        59
...         ...         ...       ...
26802      1252  CL-OSZTÁLY        59
33356      1260      GL 320        59
26793      1274          SC        48
16744      1275         9-3        80
25833      1276         9-5        80

[532 rows x 3 columns]

In [378]:
advertisements_columns = set(main_df.columns).intersection(advertisements_df.columns)
advertisements_df = advertisements_df[list(advertisements_columns)]
advertisements_df = advertisements_df.drop_duplicates(subset="ad_id")

In [379]:
fuel_df = pd.DataFrame(main_df['fuel'])
fuel_df = fuel_df.drop_duplicates()
fuel_df['fuel_id'] = fuel_df.index
fuel_df

                  fuel  fuel_id
12967            Dízel    12967
13076           Benzin    13076
13868  Hibrid (Benzin)    13868
15396              LPG    15396
16686           Etanol    16686
20381   Hibrid (Dízel)    20381
27680       Benzin/Gáz    27680

In [380]:
cylinder_df = pd.DataFrame(main_df['cylinder_layout'])
cylinder_df = cylinder_df.drop_duplicates()
cylinder_df['cylinder_id'] = cylinder_df.index
cylinder_df

      cylinder_layout  cylinder_id
12967           Soros        12967
13102               V        13102
13255           Boxer        13255
13927               W        13927

In [381]:
shifter_df = pd.DataFrame(main_df['shifter'])
shifter_df = shifter_df.drop_duplicates()
shifter_df['shifter_id'] = shifter_df.index
shifter_df

      shifter  shifter_id
12967      T7       12967
12977      M6       12977
13075      V0       13075
13110       0       13110
13118      A6       13118
13119      A7       13119
13127      A0       13127
13131      M5       13131
13166      T8       13166
13179      T0       13179
13197      T6       13197
13280      A8       13280
13309      T5       13309
13547      A5       13547
13675      M0       13675
13678      S5       13678
13715      A4       13715
13822      S6       13822
13973      S0       13973
14008      S7       14008
14428      F0       14428
16722      M7       16722
21455      T9       21455
26214      T4       26214

In [382]:
catalogs_df = catalogs_df.merge(advertisements_df[['catalog_url', 'shifter', 'model_id']], on='catalog_url', how='right')
catalogs_df = catalogs_df.merge(shifter_df, on='shifter', how='right')
catalogs_df = catalogs_df.merge(fuel_df, on='fuel', how='right')
catalogs_df = catalogs_df.merge(cylinder_df, on='cylinder_layout', how='right')
catalogs_df = catalogs_df.replace(['no catalog'], np.nan)
catalogs_df = catalogs_df.drop_duplicates(subset='catalog_url')
catalogs_df = catalogs_df.drop(['fuel', 'cylinder_layout', 'shifter'], axis=1)
catalogs_df = catalogs_df.dropna()
catalogs_df = catalogs_df.rename(columns = {
    "ccm": "engine_size_cm3",
    "msrp": "price_as_new",
    "doorsnumber": "doors_number",
    "torque": "torque_nm",
    "weight": "weight_kg",
    "fuel_tank": "fuel_tank_liter",
    "boot_capacity": "boot_capacity_liter",
    "cylinders": "cylinders_number",
    "power": "horse_power",
    "consump_city": "consumption_city",
    "consump_highway": "consumption_highway",
    "consump_mixed": "consumption_mixed",
    "top_speed": "top_speed_kmh",
    "acceleration": "acceleration_100kph_seconds"
})

In [383]:
catalogs_df

,catalog_url,category_id,start_production,end_production,price_as_new,car_type_id,doors_number,person_capacity,weight_kg,fuel_tank_liter,...,consumption_highway,consumption_mixed,top_speed_kmh,acceleration_100kph_seconds,torque_nm,horse_power,model_id,shifter_id,fuel_id,cylinder_id
0,http://katalogus.hasznaltauto.hu/mercedes-benz...,3,2011-01-01,2013-01-01,14670620.0,2,2.0,4.0,1795.0,66.0,...,5.0,6.3,230.0,8.9,400.0,170.0,35,12967,12967,12967
6,http://katalogus.hasznaltauto.hu/mercedes-benz...,3,2011-01-01,2013-01-01,14541280.0,12,4.0,5.0,1735.0,59.0,...,4.5,5.3,242.0,7.5,500.0,204.0,57,12967,12967,12967
9,http://katalogus.hasznaltauto.hu/mercedes-benz...,6,2015-01-01,2016-01-01,12398590.0,3,2.0,4.0,1605.0,41.0,...,3.6,4.1,234.0,7.8,400.0,170.0,8,12967,12967,12967
17,http://katalogus.hasznaltauto.hu/mercedes-benz...,5,2014-01-01,2015-01-01,13306350.0,9,4.0,6.0,2075.0,57.0,...,5.3,5.7,195.0,10.8,380.0,163.0,37,12967,12967,12967
32,http://katalogus.hasznaltauto.hu/mercedes-benz...,3,2011-01-01,2013-01-01,12904830.0,12,4.0,5.0,1735.0,59.0,...,4.7,5.4,207.0,9.5,360.0,136.0,75,12967,12967,12967
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33781,http://katalogus.hasznaltauto.hu/subaru/imprez...,1,2007-01-01,2010-01-01,6920000.0,6,5.0,5.0,1360.0,60.0,...,6.5,8.2,182.0,11.6,196.0,150.0,789,13715,13076,13255
33783,http://katalogus.hasznaltauto.hu/subaru/legacy...,3,2003-01-01,2005-01-01,10346000.0,12,4.0,5.0,1380.0,64.0,...,6.1,8.1,210.0,10.8,226.0,165.0,414,26214,13076,13255
33784,http://katalogus.hasznaltauto.hu/subaru/outbac...,3,2003-01-01,2007-01-01,10485000.0,9,5.0,5.0,1440.0,64.0,...,6.7,8.5,197.0,10.9,226.0,165.0,327,26214,13076,13255
33785,http://katalogus.hasznaltauto.hu/audi/a8_6.3_w...,8,2011-01-01,2013-01-01,38399670.0,12,4.0,5.0,2055.0,90.0,...,9.0,12.4,250.0,4.7,625.0,500.0,391,13166,13076,13927
33788,http://katalogus.hasznaltauto.hu/volkswagen/pa...,6,2001-01-01,2005-01-01,15012000.0,12,4.0,5.0,1716.0,80.0,...,9.5,13.1,250.0,7.8,370.0,275.0,226,13309,13076,13927

In [384]:
catalogs_df = catalogs_df.convert_dtypes()
catalogs_df.dtypes

catalog_url                     string
category_id                      Int64
start_production                string
end_production                  string
price_as_new                     Int64
car_type_id                      Int64
doors_number                     Int64
person_capacity                  Int64
weight_kg                        Int64
fuel_tank_liter                  Int64
boot_capacity_liter              Int64
environmental_id                 Int64
cylinders_number                 Int64
drive_id                         Int64
engine_size_cm3                  Int64
consumption_city               Float64
consumption_highway            Float64
consumption_mixed              Float64
top_speed_kmh                    Int64
acceleration_100kph_seconds    Float64
torque_nm                        Int64
horse_power                      Int64
model_id                         Int64
shifter_id                       Int64
fuel_id                          Int64
cylinder_id                      Int64
dtype: object

In [385]:
advertisements_df = advertisements_df.drop(["model_id", "brand_id", "region_id", "shifter", "production"], axis=1)
advertisements_df = advertisements_df.replace(['no catalog'], np.nan)
advertisements_df = advertisements_df.rename(columns={
    "postalcode": "postal_code",
    "numpictures": "pictures_number",
    "proseller": "pro_seller"
})
advertisements_df = advertisements_df.dropna()
advertisements_df = advertisements_df.convert_dtypes()

In [386]:
advertisements_df

,postal_code,pictures_number,ad_price,mileage,upload_date,pro_seller,catalog_url,clime_id,ad_id,highlighted,is_sold
1,2671,6,1290000,148000,2010-08-11,False,http://katalogus.hasznaltauto.hu/opel/astra_1....,4,4066033,False,False
2,6000,6,580000,181900,2010-08-30,False,http://katalogus.hasznaltauto.hu/saab/900_2.5_...,2,4109007,False,False
3,4033,6,1450000,185000,2010-10-25,False,http://katalogus.hasznaltauto.hu/seat/leon_1.4...,2,4246385,False,False
4,8600,6,9990000,98500,2012-01-17,False,http://katalogus.hasznaltauto.hu/mercedes-benz...,5,5440448,False,False
5,2360,5,120000,80000,2012-03-20,True,http://katalogus.hasznaltauto.hu/peugeot/307_b...,3,5624476,False,True
...,...,...,...,...,...,...,...,...,...,...,...
38183,6728,12,5250000,201500,2020-05-06,True,http://katalogus.hasznaltauto.hu/audi/q5_2.0_t...,4,15726818,False,False
38184,1154,12,5300000,129711,2020-05-06,True,http://katalogus.hasznaltauto.hu/volkswagen/go...,5,15726825,False,False
38185,1152,12,4990000,140000,2020-05-06,True,http://katalogus.hasznaltauto.hu/audi/a5_cabri...,5,15726904,False,False
38186,8000,5,5150000,155000,2020-05-06,True,http://katalogus.hasznaltauto.hu/jeep/wrangler...,4,15727058,False,False
38187,8000,12,5300000,91000,2020-05-06,True,http://katalogus.hasznaltauto.hu/ford/kuga_2.0...,6,15727613,False,False

In [387]:
advertisements_df['upload_date'] = pd.to_datetime(advertisements_df['upload_date'])
catalogs_df['start_production'] = pd.to_datetime(catalogs_df['start_production'])
catalogs_df['end_production'] = pd.to_datetime(catalogs_df['end_production'])

In [388]:
advertisements_df = advertisements_df.convert_dtypes()
advertisements_df.dtypes

postal_code                 Int64
pictures_number             Int64
ad_price                    Int64
mileage                     Int64
upload_date        datetime64[ns]
pro_seller                boolean
catalog_url                string
clime_id                    Int64
ad_id                       Int64
highlighted               boolean
is_sold                   boolean
dtype: object

In [389]:
category_df = main_df[['category_id', 'category_name']]
category_df = category_df.drop_duplicates(subset='category_id')
category_df = category_df.sort_values(by='category_id')
category_df = category_df.convert_dtypes()
category_df

       category_id category_name
14105            1     C-Segment
19633            2     M-Segment
13075            3     D-Segment
17841            4     B-Segment
12967            5       Utility
16524            6     E-Segment
13652            7     A-Segment
13867            8     F-Segment
19018            9     J-Segment

In [390]:
clime_df = clime_df.convert_dtypes()
clime_df

   clime_id            clime_name
0         1                 no AC
1         2             manual AC
2         3          automatic AC
3         4            digital AC
4         5      digital 2zone AC
5         6  digital multizone AC

In [391]:
car_types_df = main_df[['car_type_id', 'car_type_name']]
car_types_df = car_types_df.drop_duplicates(subset='car_type_id')
car_types_df = car_types_df.sort_values(by='car_type_id')
car_types_df = car_types_df.convert_dtypes()
car_types_df

       car_type_id car_type_name
13561            2        Cabrio
13589            3         Coupe
16400            5       Minivan
13075            6     Hatchback
25667            8       Minibus
12967            9        Estate
13177           12         Sedan
19155           13           SUV
25620           14        Closed

In [392]:
drive_df = main_df[['drive_id', 'drive_name']]
drive_df = drive_df.drop_duplicates(subset='drive_id')
drive_df = drive_df.sort_values(by='drive_id')
drive_df = drive_df.convert_dtypes()
drive_df

       drive_id drive_name
13075         1        FWD
12967         2        RWD
13143         4        AWD

In [393]:
environmental_df = environmental_df.replace('na', np.nan)
environmental_df = environmental_df.dropna()
environmental_df = environmental_df.convert_dtypes()
environmental_df

   environmental_id environmental_name
0                 1             EURO 1
1                 2             EURO 2
2                 3             EURO 3
3                 4             EURO 4
4                 5             EURO 5
5                 6             EURO 6

In [394]:
main_df = pd.merge(advertisements_df, clime_df, on="clime_id", how="inner")
main_df = pd.merge(main_df, catalogs_df, on="catalog_url", how="inner")
main_df = pd.merge(main_df, postal_codes_df, on="postal_code", how="inner")
main_df = pd.merge(main_df, city_df, on="city_id", how="inner")
main_df = pd.merge(main_df, region_df, on="region_id", how="inner")
main_df = pd.merge(main_df, model_df, on="model_id", how="inner")
main_df = pd.merge(main_df, brand_df, on="brand_id", how="inner")
main_df = pd.merge(main_df, drive_df, on="drive_id", how="inner")
main_df = pd.merge(main_df, car_types_df, on="car_type_id", how="inner")
main_df = pd.merge(main_df, category_df, on="category_id", how="inner")
main_df = pd.merge(main_df, environmental_df, on="environmental_id", how="inner")
main_df = pd.merge(main_df, fuel_df, on="fuel_id", how="inner")
main_df = pd.merge(main_df, cylinder_df, on="cylinder_id", how="inner")
main_df = pd.merge(main_df, shifter_df, on="shifter_id", how="inner")

### Pregled prvih 5 redaka

In [395]:
main_df

,postal_code,pictures_number,ad_price,mileage,upload_date,pro_seller,catalog_url,clime_id,ad_id,highlighted,...,model_name,brand_id,brand_name,drive_name,car_type_name,category_name,environmental_name,fuel,cylinder_layout,shifter
0,2671,6,1290000,148000,2010-08-11,False,http://katalogus.hasznaltauto.hu/opel/astra_1....,4,4066033,False,...,ASTRA H,69,OPEL,FWD,Hatchback,C-Segment,EURO 4,Benzin,Soros,0
1,6000,3,599000,369000,2020-01-02,True,http://katalogus.hasznaltauto.hu/opel/astra_1....,4,15262033,False,...,ASTRA H,69,OPEL,FWD,Hatchback,C-Segment,EURO 4,Benzin,Soros,0
2,9028,9,1449000,158453,2020-02-26,True,http://katalogus.hasznaltauto.hu/opel/astra_1....,4,15483792,False,...,ASTRA H,69,OPEL,FWD,Hatchback,C-Segment,EURO 4,Benzin,Soros,0
3,9028,11,1449000,52626,2020-02-27,True,http://katalogus.hasznaltauto.hu/opel/astra_1....,4,15486577,False,...,ASTRA H,69,OPEL,FWD,Hatchback,C-Segment,EURO 4,Benzin,Soros,0
4,1148,8,1470000,147000,2019-10-17,True,http://katalogus.hasznaltauto.hu/opel/astra_1....,2,14987234,False,...,ASTRA H,69,OPEL,FWD,Hatchback,C-Segment,EURO 4,Benzin,Soros,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14410,3903,6,2200000,412000,2020-03-02,False,http://katalogus.hasznaltauto.hu/audi/allroad_...,1,15501949,False,...,A6 ALLROAD,8,AUDI,AWD,Estate,D-Segment,EURO 4,Dízel,V,T0
14411,9600,6,2899999,267000,2019-12-27,True,http://katalogus.hasznaltauto.hu/audi/allroad_...,5,15244550,False,...,A6 ALLROAD,8,AUDI,AWD,Estate,D-Segment,EURO 4,Dízel,V,T0
14412,4032,12,2590000,202504,2020-02-24,True,http://katalogus.hasznaltauto.hu/audi/allroad_...,5,15474497,False,...,A6 ALLROAD,8,AUDI,AWD,Estate,D-Segment,EURO 4,Dízel,V,T0
14413,1112,12,37990000,22,2020-01-23,True,http://katalogus.hasznaltauto.hu/mercedes-benz...,5,15343216,True,...,S 450,59,MERCEDES-BENZ,AWD,Coupe,F-Segment,EURO 6,Benzin,V,T9
14414,5600,11,33350000,5,2019-10-29,True,http://katalogus.hasznaltauto.hu/mercedes-benz...,6,15032400,True,...,S 450,59,MERCEDES-BENZ,AWD,Coupe,F-Segment,EURO 6,Benzin,V,T9

### Veličina skupa

In [396]:
main_df.shape

(14415, 51)

### Nazivi stupaca

In [397]:
list(main_df.columns)

['postal_code',
 'pictures_number',
 'ad_price',
 'mileage',
 'upload_date',
 'pro_seller',
 'catalog_url',
 'clime_id',
 'ad_id',
 'highlighted',
 'is_sold',
 'clime_name',
 'category_id',
 'start_production',
 'end_production',
 'price_as_new',
 'car_type_id',
 'doors_number',
 'person_capacity',
 'weight_kg',
 'fuel_tank_liter',
 'boot_capacity_liter',
 'environmental_id',
 'cylinders_number',
 'drive_id',
 'engine_size_cm3',
 'consumption_city',
 'consumption_highway',
 'consumption_mixed',
 'top_speed_kmh',
 'acceleration_100kph_seconds',
 'torque_nm',
 'horse_power',
 'model_id',
 'shifter_id',
 'fuel_id',
 'cylinder_id',
 'city_id',
 'city_name',
 'region_id',
 'region_name',
 'model_name',
 'brand_id',
 'brand_name',
 'drive_name',
 'car_type_name',
 'category_name',
 'environmental_name',
 'fuel',
 'cylinder_layout',
 'shifter']

### Broj nedostajućih vrijednosti po stupcu

In [398]:
col_null_values = {col: main_df[col].isna().sum() for col in main_df.columns}
col_null_values

{'postal_code': 0,
 'pictures_number': 0,
 'ad_price': 0,
 'mileage': 0,
 'upload_date': 0,
 'pro_seller': 0,
 'catalog_url': 0,
 'clime_id': 0,
 'ad_id': 0,
 'highlighted': 0,
 'is_sold': 0,
 'clime_name': 0,
 'category_id': 0,
 'start_production': 0,
 'end_production': 0,
 'price_as_new': 0,
 'car_type_id': 0,
 'doors_number': 0,
 'person_capacity': 0,
 'weight_kg': 0,
 'fuel_tank_liter': 0,
 'boot_capacity_liter': 0,
 'environmental_id': 0,
 'cylinders_number': 0,
 'drive_id': 0,
 'engine_size_cm3': 0,
 'consumption_city': 0,
 'consumption_highway': 0,
 'consumption_mixed': 0,
 'top_speed_kmh': 0,
 'acceleration_100kph_seconds': 0,
 'torque_nm': 0,
 'horse_power': 0,
 'model_id': 0,
 'shifter_id': 0,
 'fuel_id': 0,
 'cylinder_id': 0,
 'city_id': 0,
 'city_name': 0,
 'region_id': 0,
 'region_name': 0,
 'model_name': 0,
 'brand_id': 0,
 'brand_name': 0,
 'drive_name': 0,
 'car_type_name': 0,
 'category_name': 0,
 'environmental_name': 0,
 'fuel': 0,
 'cylinder_layout': 0,
 'shifter': 0}

### Jedinstvene vrijednosti

In [399]:
cols_unique_num = {col: len(main_df[col].unique()) for col in main_df.columns}
cols_unique_num

{'postal_code': 1137,
 'pictures_number': 13,
 'ad_price': 1238,
 'mileage': 6164,
 'upload_date': 755,
 'pro_seller': 2,
 'catalog_url': 6507,
 'clime_id': 6,
 'ad_id': 14415,
 'highlighted': 2,
 'is_sold': 2,
 'clime_name': 6,
 'category_id': 9,
 'start_production': 25,
 'end_production': 22,
 'price_as_new': 4539,
 'car_type_id': 9,
 'doors_number': 4,
 'person_capacity': 7,
 'weight_kg': 831,
 'fuel_tank_liter': 59,
 'boot_capacity_liter': 321,
 'environmental_id': 5,
 'cylinders_number': 8,
 'drive_id': 3,
 'engine_size_cm3': 276,
 'consumption_city': 174,
 'consumption_highway': 86,
 'consumption_mixed': 113,
 'top_speed_kmh': 125,
 'acceleration_100kph_seconds': 153,
 'torque_nm': 246,
 'horse_power': 191,
 'model_id': 513,
 'shifter_id': 23,
 'fuel_id': 7,
 'cylinder_id': 4,
 'city_id': 879,
 'city_name': 879,
 'region_id': 20,
 'region_name': 20,
 'model_name': 513,
 'brand_id': 41,
 'brand_name': 41,
 'drive_name': 3,
 'car_type_name': 9,
 'category_name': 9,
 'environmental_name': 5,
 'fuel': 7,
 'cylinder_layout': 4,
 'shifter': 23}

### Tipovi podataka

In [400]:
main_df.dtypes

postal_code                             Int64
pictures_number                         Int64
ad_price                                Int64
mileage                                 Int64
upload_date                    datetime64[ns]
pro_seller                            boolean
catalog_url                            string
clime_id                                Int64
ad_id                                   Int64
highlighted                           boolean
is_sold                               boolean
clime_name                             string
category_id                             Int64
start_production               datetime64[ns]
end_production                 datetime64[ns]
price_as_new                            Int64
car_type_id                             Int64
doors_number                            Int64
person_capacity                         Int64
weight_kg                               Int64
fuel_tank_liter                         Int64
boot_capacity_liter                     Int64
environmental_id                        Int64
cylinders_number                        Int64
drive_id                                Int64
engine_size_cm3                         Int64
consumption_city                      Float64
consumption_highway                   Float64
consumption_mixed                     Float64
top_speed_kmh                           Int64
acceleration_100kph_seconds           Float64
torque_nm                               Int64
horse_power                             Int64
model_id                                Int64
shifter_id                              Int64
fuel_id                                 Int64
cylinder_id                             Int64
city_id                                 int64
city_name                              object
region_id                               int64
region_name                            object
model_name                             object
brand_id                                int64
brand_name                             object
drive_name                             string
car_type_name                          string
category_name                          string
environmental_name                     string
fuel                                   object
cylinder_layout                        object
shifter                                object
dtype: object

### Frekvencije vrijednosti po stupcu

In [401]:
value_counts = [main_df[col].value_counts() for col in main_df.columns]
value_counts

[6000    553
 8000    354
 4400    348
 9700    311
 6100    231
        ...
 7228      1
 9324      1
 2921      1
 3800      1
 3713      1
 Name: postal_code, Length: 1137, dtype: Int64,
 6     5344
 12    3961
 5     1249
 11    1081
 10     764
 4      507
 9      466
 8      311
 7      236
 3      203
 0      131
 2       84
 1       78
 Name: pictures_number, dtype: Int64,
 1990000     335
 1490000     334
 1599000     329
 1999000     309
 1590000     280
            ...
 1819000       1
 2519000       1
 2199700       1
 1918000       1
 33350000      1
 Name: ad_price, Length: 1238, dtype: Int64,
 220000    114
 250000    112
 200000    105
 240000     88
 180000     84
          ...
 81203       1
 153805      1
 57385       1
 159195      1
 22          1
 Name: mileage, Length: 6164, dtype: Int64,
 2020-03-13    268
 2020-03-10    253
 2020-03-12    232
 2020-03-11    209
 2020-03-09    201
              ...
 2018-09-25      1
 2015-11-21      1
 2018-02-05      1
 2019-05-09      1
 2018-09-26      1
 Name: upload_date, Length: 755, dtype: int64,
 True     8424
 False    5991
 Name: pro_seller, dtype: Int64,
 http://katalogus.hasznaltauto.hu/bmw/320d_tour...    30
 http://katalogus.hasznaltauto.hu/bmw/318d_tour...    29
 http://katalogus.hasznaltauto.hu/mercedes-benz...    28
 http://katalogus.hasznaltauto.hu/suzuki/swift_...    28
 http://katalogus.hasznaltauto.hu/suzuki/swift_...    24
                                                      ..
 http://katalogus.hasznaltauto.hu/mercedes-benz...     1
 http://katalogus.hasznaltauto.hu/mitsubishi/la...     1
 http://katalogus.hasznaltauto.hu/mercedes-benz...     1
 http://katalogus.hasznaltauto.hu/mercedes-benz...     1
 http://katalogus.hasznaltauto.hu/volkswagen/go...     1
 Name: catalog_url, Length: 6507, dtype: Int64,
 5    4341
 2    4286
 4    2228
 1    1590
 3    1388
 6     582
 Name: clime_id, dtype: Int64,
 4066033     1
 15515915    1
 15275095    1
 15410242    1
 15630977    1
            ..
 15570572    1
 15185240    1
 15577202    1
 15634067    1
 15032400    1
 Name: ad_id, Length: 14415, dtype: Int64,
 False    12857
 True      1558
 Name: highlighted, dtype: Int64,
 False    11794
 True      2621
 Name: is_sold, dtype: Int64,
 digital 2zone AC        4341
 manual AC               4286
 digital AC              2228
 no AC                   1590
 automatic AC            1388
 digital multizone AC     582
 Name: clime_name, dtype: Int64,
 1    4664
 4    2671
 6    2641
 2    1398
 3    1178
 9    1095
 7     381
 8     334
 5      53
 Name: category_id, dtype: Int64,
 2008-01-01    1619
 2007-01-01    1399
 2006-01-01    1398
 2009-01-01    1366
 2010-01-01    1297
 2004-01-01    1259
 2005-01-01    1244
 2003-01-01     867
 2001-01-01     685
 2011-01-01     593
 2000-01-01     497
 2002-01-01     495
 1999-01-01     412
 2012-01-01     322
 1998-01-01     287
 1996-01-01     252
 1997-01-01     167
 2014-01-01      88
 1995-01-01      57
 2013-01-01      36
 1994-01-01      29
 2017-01-01      24
 1993-01-01      15
 2016-01-01       4
 2015-01-01       3
 Name: start_production, dtype: int64,
 2010-01-01    2384
 2013-01-01    1599
 2008-01-01    1589
 2009-01-01    1319
 2011-01-01    1239
 2005-01-01    1017
 2012-01-01     945
 2007-01-01     908
 2006-01-01     779
 2004-01-01     499
 2003-01-01     490
 2002-01-01     334
 2000-01-01     291
 2001-01-01     285
 2014-01-01     284
 1999-01-01     262
 2015-01-01      98
 1998-01-01      47
 2018-01-01      24
 1997-01-01      15
 2017-01-01       5
 2016-01-01       2
 Name: end_production, dtype: int64,
 3399000    41
 6449000    35
 8995000    30
 4680000    30
 8831000    29
            ..
 8402000     1
 9083000     1
 9020000     1
 5306290     1
 6051000     1
 Name: price_as_new, Length: 4539, dtype: Int64,
 6     5510
 9     3164
 12    2417
 5     1754
 13     915
 3      382
 2      269
 14       3
 8        1
 Name: car_type_id, dtype: Int64,
 5    10212
 4     2526
 3     1140
 2      537
 Name: doors_number, dtype: Int64,
 5    12640
 4     1070
 7      589
 6       67
 2       32
 9       10
 8        7
 Name: person_capacity, dtype: Int64,
 1505    192
 775     169
 1280    161
 1320    154
 1430    150
        ...
 1202      1
 1412      1
 1467      1
 1411      1
 988       1
 Name: weight_kg, Length: 831, dtype: Int64,
 55     2460
 60     1863
 70     1525
 45     1169
 50      850
 52      552
 65      528
 40      417
 80      401
 58      377
 63      366
 53      320
 54      309
 42      257
 62      235
 61      231
 66      229
 35      219
 64      204
 47      165
 56      164
 100     131
 41      128
 90      107
 67      105
 83       96
 46       91
 44       76
 57       73
 88       73
 59       73
 48       69
 68       68
 85       60
 75       51
 95       46
 71       44
 82       41
 72       34
 38       32
 93       30
 43       26
 78       17
 51       15
 84       15
 76       14
 49       11
 87        8
 73        8
 22        8
 34        6
 77        4
 33        3
 81        3
 98        2
 104       2
 97        2
 101       1
 69        1
 Name: fuel_tank_liter, dtype: Int64,
 460     649
 350     628
 500     624
 520     336
 370     335
        ...
 1239      1
 3200      1
 544       1
 214       1
 996       1
 Name: boot_capacity_liter, Length: 321, dtype: Int64,
 4    7763
 5    3647
 3    2834
 2     107
 6      64
 Name: environmental_id, dtype: Int64,
 4     12031
 6      1338
 3       589
 5       220
 8       199
 2        20
 10       13
 12        5
 Name: cylinders_number, dtype: Int64,
 1    11313
 4     1640
 2     1462
 Name: drive_id, dtype: Int64,
 1598    1235
 1995     846
 1968     737
 1390     664
 1560     516
         ...
 698        1
 1985       1
 3597       1
 1171       1
 3604       1
 Name: engine_size_cm3, Length: 276, dtype: Int64,
 7.6     452
 7.8     438
 8.0     393
 8.7     385
 7.5     385
        ...
 19.9      1
 20.6      1
 19.6      1
 22.6      1
 15.2      1
 Name: consumption_city, Length: 174, dtype: Int64,
 5.5     845
 5.2     749
 4.8     677
 5.4     637
 5.1     610
        ...
 11.1      2
 10.0      2
 10.4      1
 10.9      1
 12.2      1
 Name: consumption_highway, Length: 86, dtype: Int64,
 5.9     837
 6.7     561
 6.4     514
 6.6     503
 5.5     477
        ...
 13.2      1
 19.5      1
 16.5      1
 15.2      1
 12.6      1
 Name: consumption_mixed, Length: 113, dtype: Int64,
 180    636
 190    537
 170    532
 185    529
 200    489
       ...
 261      1
 260      1
 288      1
 259      1
 273      1
 Name: top_speed_kmh, Length: 125, dtype: Int64,
 13.0    394
 10.5    317
 12.5    308
 11.3    303
 10.9    288
        ...
 18.9      1
 20.5      1
 20.4      1
 4.3       1
 18.4      1
 Name: acceleration_100kph_seconds, Length: 153, dtype: Int64,
 320    989
 250    568
 350    494
 240    477
 200    460
       ...
 490      1
 352      1
 525      1
 419      1
 347      1
 Name: torque_nm, Length: 246, dtype: Int64,
 140    978
 105    667
 116    625
 150    619
 90     602
       ...
 169      1
 305      1
 385      1
 352      1
 283      1
 Name: horse_power, Length: 191, dtype: Int64,
 18      462
 6       320
 27      317
 129     303
 231     258
        ...
 204       1
 353       1
 793       1
 1112      1
 980       1
 Name: model_id, Length: 513, dtype: Int64,
 13131    6948
 12977    4490
 13197     728
 13075     336
 13309     332
 13110     297
 12967     264
 13118     244
 13127     202
 13166     171
 13547     109
 13822      72
 13119      65
 13715      60
 13678      35
 13675      27
 26214      15
 13280       6
 14008       5
 13179       4
 14428       2
 21455       2
 13973       1
 Name: shifter_id, dtype: Int64,
 13076    7543
 12967    6695
 13868     137
 16686      32
 27680       5
 20381       2
 15396       1
 Name: fuel_id, dtype: Int64,
 12967    13319
 13102     1030
 13255       64
 13927        2
 Name: cylinder_id, dtype: Int64,
 12977    3189
 12967     558
 13077     556
 13089     420
 13189     383
          ...
 33963       1
 32839       1
 32712       1
 31813       1
 33542       1
 Name: city_id, Length: 879, dtype: int64,
 Budapest        3189
 Debrecen         558
 Kecskemét        556
 Győr             420
 Szeged           383
                 ...
 Vértesboglár       1
 Pirtó              1
 Darány             1
 Döbrököz           1
 Arnót              1
 Name: city_name, Length: 879, dtype: int64,
 3     3189
 14    1942
 4     1220
 8      806
 9      754
 2      620
 7      582
 16     576
 6      537
 1      473
 18     469
 19     468
 12     463
 15     420
 20     409
 10     404
 11     340
 17     318
 5      274
 13     151
 Name: region_id, dtype: int64,
 Budapest                        3189
 Pest megye                      1942
 Bács-Kiskun megye               1220
 Győr-Moson-Sopron megye          806
 Hajdú-Bihar megye                754
 Borsod-Abaúj-Zemplén megye       620
 Fejér megye                      582
 Szabolcs-Szatmár-Bereg megye     576
 Csongrád megye                   537
 Baranya megye                    473
 Vas megye                        469
 Veszprém megye                   468
 Komárom-Esztergom megye          463
 Somogy megye                     420
 Zala megye                       409
 Heves megye                      404
 Jász-Nagykun-Szolnok megye       340
 Tolna megye                      318
 Békés megye                      274
 Nógrád megye                     151
 Name: region_name, dtype: int64,
 FOCUS      462
 A4         320
 OCTAVIA    317
 SWIFT      303
 ASTRA H    258
           ...
 OMEGA        1
 RAPID        1
 MAXIMA       1
 130          1
 SRX          1
 Name: model_name, Length: 513, dtype: int64,
 98    1437
 69    1358
 13    1226
 31    1137
 8     1021
 76     879
 59     747
 93     658
 83     636
 87     587
 18     506
 70     499
 29     424
 36     423
 57     349
 81     296
 66     268
 39     243
 99     232
 4      207
 16     204
 44     192
 20     155
 63     114
 62     105
 19      73
 47      58
 73      57
 48      55
 86      54
 46      50
 43      36
 80      29
 17      28
 42      25
 84      19
 85      10
 40       6
 79       5
 23       4
 15       3
 Name: brand_id, dtype: int64,
 VOLKSWAGEN       1437
 OPEL             1358
 BMW              1226
 FORD             1137
 AUDI             1021
 RENAULT           879
 MERCEDES-BENZ     747
 TOYOTA            658
 SKODA             636
 SUZUKI            587
 CITROEN           506
 PEUGEOT           499
 FIAT              424
 HONDA             423
 MAZDA             349
 SEAT              296
 NISSAN            268
 HYUNDAI           243
 VOLVO             232
 ALFA ROMEO        207
 CHEVROLET         204
 KIA               192
 DAEWOO            155
 MITSUBISHI        114
 MINI              105
 DACIA              73
 LAND ROVER         58
 PORSCHE            57
 LEXUS              55
 SUBARU             54
 LANCIA             50
 JEEP               36
 SAAB               29
 CHRYSLER           28
 JAGUAR             25
 SMART              19
 SSANGYONG          10
 INFINITI            6
 ROVER               5
 DODGE               4
 CADILLAC            3
 Name: brand_name, dtype: int64,
 FWD    11313
 AWD     1640
 RWD     1462
 Name: drive_name, dtype: Int64,
 Hatchback    5510
 Estate       3164
 Sedan        2417
 Minivan      1754
 SUV           915
 Coupe         382
 Cabrio        269
 Closed          3
 Minibus         1
 Name: car_type_name, dtype: Int64,
 C-Segment    4664
 B-Segment    2671
 E-Segment    2641
 M-Segment    1398
 D-Segment    1178
 J-Segment    1095
 A-Segment     381
 F-Segment     334
 Utility        53
 Name: category_name, dtype: Int64,
 EURO 4    7763
 EURO 5    3647
 EURO 3    2834
 EURO 2     107
 EURO 6      64
 Name: environmental_name, dtype: Int64,
 Benzin             7543
 Dízel              6695
 Hibrid (Benzin)     137
 Etanol               32
 Benzin/Gáz            5
 Hibrid (Dízel)        2
 LPG                   1
 Name: fuel, dtype: int64,
 Soros    13319
 V         1030
 Boxer       64
 W            2
 Name: cylinder_layout, dtype: int64,
 M5    6948
 M6    4490
 T6     728
 V0     336
 T5     332
 0      297
 T7     264
 A6     244
 A0     202
 T8     171
 A5     109
 S6      72
 A7      65
 A4      60
 S5      35
 M0      27
 T4      15
 A8       6
 S7       5
 T0       4
 F0       2
 T9       2
 S0       1
 Name: shifter, dtype: int64]

### Pitanja

1. Da li je skup podataka dovoljno velik?

2. Da li skup ima dovoljno različite podatke?

3. Da li skup ima vremensku dimenziju?

4. Da li skup ima kvantitativne i kvalitativne podatke?

5. Da li skup ima puno nedostajućih vrijednosti?

## Checkpoint 2 za 23.03. i 30.03.2023

Izrada relacijskog modela i baze podataka

1. Izraditi ER dijagram (konceptualni dizajn baze):
- identificirati entitete
- identificirati atribute entiteta
- definirati odnose između entiteta
- definirati kardinalnost

2. Izraditi bazu podataka u DBMS-u (logički dizajn baze, npr. u MySQL)

3. Napuniti bazu podataka sa podacima iz CSVa
- napisati skriptu u Pythonu koja će napuniti bazu

### ER dijagram relacijskog modela

![ER Dijagram relacijskom modela](img/er-diagram.png "ER dijagram relacijskom modela")

### Instalacija paketa za spajanje sa PostgreSQL bazom podataka

In [402]:
import psycopg2
from sqlalchemy import create_engine

### Spajanje s bazom podataka

In [403]:
conn_string = 'postgresql://postgres:password123@127.0.0.1/spi-projekt'
db = create_engine(conn_string)

### Kreiranje i popunjavanje tablica

In [404]:
try:
    fuel_table = fuel_df.to_sql('fuels', db, if_exists='replace', index=False)
    city_table = city_df.to_sql('cities', db, if_exists='replace', index=False)
    model_table = model_df.to_sql('models', db, if_exists='replace', index=False)
    brand_table = brand_df.to_sql('brands', db, if_exists='replace', index=False)
    drive_table = drive_df.to_sql('drives', db, if_exists='replace', index=False)
    clime_table = clime_df.to_sql('climes', db, if_exists='replace', index=False)
    region_table = region_df.to_sql('regions', db, if_exists='replace', index=False)
    shifter_table = shifter_df.to_sql('shifters', db, if_exists='replace', index=False)
    catalogs_table = catalogs_df.to_sql('catalogs', db, if_exists='replace', index=False)
    cylinder_table = cylinder_df.to_sql('cylinders', db, if_exists='replace', index=False)
    category_table = category_df.to_sql('categories', db, if_exists='replace', index=False)
    car_types_table = car_types_df.to_sql('car_types', db, if_exists='replace', index=False)
    postal_codes_table = postal_codes_df.to_sql('postal_codes', db, if_exists='replace', index=False)
    environmental_table = environmental_df.to_sql('environmentals', db, if_exists='replace', index=False)
    advertisements_table = advertisements_df.to_sql('advertisements', db, if_exists='replace', index=False)
except Exception as ex:
    print(ex)
else:
    print("PostgreSQL tablice su kreirane i popunjene.")

PostgreSQL tablice su kreirane i popunjene.

## Checkpoint 3 za 04.05. i 11.05.2023:

1. Izraditi dimenzijski model skladišta podataka

- identificirati tablicu činjenica
- identificirati dimenzijske tablice
- spojiti slične dimenzije u jednu
- izdvojiti vremensku dimenziju u posebnu dimenzijsku tablicu
- koristiti strategiju sporo mijenjajućih dimenzija tipa 2
- prikazati grafički kreirano skladište podataka (ER dijagram)

2. ETL - napuniti skladište podataka sa podacima

- koristiti alat Pentaho Data Integration

### ER dijagram dimenzijskog modela

![ER dijagram dimenzijskog modela](img/dim-model.png "ER dijagram dimenzijskog modela")

### Dimenzijska tablica *places*

In [405]:
dim_places_df = pd.merge(city_df, region_df, on="region_id"
                     ).merge(postal_codes_df, on="city_id")[['postal_code', 'city_name', 'region_name']]
dim_places_df['dim_place_id'] = dim_places_df.index + 1
dim_places_df['start_date'] = pd.Timestamp.today()
dim_places_df['end_date'] = np.nan
dim_places_df = dim_places_df[['dim_place_id', 'postal_code', 'city_name', 'region_name', 'start_date', 'end_date']]

dim_places_df

,dim_place_id,postal_code,city_name,region_name,start_date,end_date
0,1,4002,Debrecen,Hajdú-Bihar megye,2023-05-16 16:35:16.380835,NaN
1,2,4032,Debrecen,Hajdú-Bihar megye,2023-05-16 16:35:16.380835,NaN
2,3,4031,Debrecen,Hajdú-Bihar megye,2023-05-16 16:35:16.380835,NaN
3,4,4030,Debrecen,Hajdú-Bihar megye,2023-05-16 16:35:16.380835,NaN
4,5,4028,Debrecen,Hajdú-Bihar megye,2023-05-16 16:35:16.380835,NaN
...,...,...,...,...,...,...
1137,1138,3181,Karancsalja,Nógrád megye,2023-05-16 16:35:16.380835,NaN
1138,1139,3045,Bér,Nógrád megye,2023-05-16 16:35:16.380835,NaN
1139,1140,2686,Galgaguta,Nógrád megye,2023-05-16 16:35:16.380835,NaN
1140,1141,3077,Mátraverebély,Nógrád megye,2023-05-16 16:35:16.380835,NaN
1141,1142,2655,"Kisecset, Szente, Kétbodony",Nógrád megye,2023-05-16 16:35:16.380835,NaN

### Dimenzijska tablica *ad_status*

In [406]:
combinations = list(itertools.product([True, False], repeat=3))

dim_ad_status_df = pd.DataFrame(combinations, columns=['pro_seller', 'highlighted', 'is_sold'])
dim_ad_status_df['dim_ad_status_id'] = dim_ad_status_df.index + 1
dim_ad_status_df = dim_ad_status_df[['dim_ad_status_id', 'pro_seller', 'highlighted', 'is_sold']]

dim_ad_status_df

   dim_ad_status_id  pro_seller  highlighted  is_sold
0                 1        True         True     True
1                 2        True         True    False
2                 3        True        False     True
3                 4        True        False    False
4                 5       False         True     True
5                 6       False         True    False
6                 7       False        False     True
7                 8       False        False    False

### Dimenzijska tablica *dates*

In [407]:
upload_dates = advertisements_df['upload_date'].unique()

dim_dates_df = pd.DataFrame({'upload_date': pd.to_datetime(upload_dates)})
dim_dates_df['dim_date_id'] = dim_dates_df.index + 1
dim_dates_df['day'] = dim_dates_df['upload_date'].dt.day
dim_dates_df['day_of_week'] = dim_dates_df['upload_date'].dt.day_name()
dim_dates_df['month'] = dim_dates_df['upload_date'].dt.month
dim_dates_df['month_name'] = dim_dates_df['upload_date'].dt.month_name()
dim_dates_df['quarter'] = dim_dates_df['upload_date'].dt.quarter
dim_dates_df['year'] = dim_dates_df['upload_date'].dt.year
dim_dates_df = dim_dates_df[['dim_date_id', 'upload_date', 'day', 'day_of_week', 'month', 'month_name', 'quarter', 'year']]

dim_dates_df

     dim_date_id upload_date  day day_of_week  month month_name  quarter  year
0              1  2010-08-11   11   Wednesday      8     August        3  2010
1              2  2010-08-30   30      Monday      8     August        3  2010
2              3  2010-10-25   25      Monday     10    October        4  2010
3              4  2012-01-17   17     Tuesday      1    January        1  2012
4              5  2012-03-20   20     Tuesday      3      March        1  2012
..           ...         ...  ...         ...    ...        ...      ...   ...
941          942  2020-05-01    1      Friday      5        May        2  2020
942          943  2020-05-05    5     Tuesday      5        May        2  2020
943          944  2020-04-28   28     Tuesday      4      April        2  2020
944          945  2020-05-03    3      Sunday      5        May        2  2020
945          946  2020-05-06    6   Wednesday      5        May        2  2020

[946 rows x 8 columns]

### Dimenzijska tablica *catalogs*

In [408]:
merged_advertisements_df = advertisements_df.merge(clime_df, on="clime_id"
                                                ).merge(catalogs_df, how='right', on='catalog_url')
dim_catalogs_df = merged_advertisements_df.merge(category_df, on='category_id'
                                                ).merge(car_types_df, on='car_type_id'
                                                ).merge(pd.merge(brand_df, model_df, on='brand_id'), on='model_id')

dim_catalogs_df['dim_catalog_id'] = dim_catalogs_df.index + 1
dim_catalogs_df['start_date'] = pd.Timestamp.today()
dim_catalogs_df['end_date'] = np.nan

dim_catalogs_df = dim_catalogs_df[['dim_catalog_id', 'catalog_url', 'start_production', 'end_production', 'price_as_new',
       'doors_number', 'person_capacity', 'weight_kg', 'boot_capacity_liter', 'category_name', 'car_type_name',
       'brand_name', 'model_name', 'clime_name', 'start_date', 'end_date']].drop_duplicates()

dim_catalogs_df

,dim_catalog_id,catalog_url,start_production,end_production,price_as_new,doors_number,person_capacity,weight_kg,boot_capacity_liter,category_name,car_type_name,brand_name,model_name,clime_name,start_date,end_date
0,1,http://katalogus.hasznaltauto.hu/mercedes-benz...,2011-01-01,2013-01-01,14670620,2,4,1795,300,D-Segment,Cabrio,MERCEDES-BENZ,E 220,digital 2zone AC,2023-05-16 16:35:16.705457,NaN
1,2,http://katalogus.hasznaltauto.hu/mercedes-benz...,2010-01-01,2013-01-01,14670620,2,4,1795,300,D-Segment,Cabrio,MERCEDES-BENZ,E 220,digital 2zone AC,2023-05-16 16:35:16.705457,NaN
2,3,http://katalogus.hasznaltauto.hu/mercedes-benz...,2010-01-01,2013-01-01,14670620,2,4,1795,300,D-Segment,Cabrio,MERCEDES-BENZ,E 220,digital 2zone AC,2023-05-16 16:35:16.705457,NaN
3,4,http://katalogus.hasznaltauto.hu/mercedes-benz...,2011-01-01,2013-01-01,13934380,4,5,1735,540,D-Segment,Sedan,MERCEDES-BENZ,E 220,digital 2zone AC,2023-05-16 16:35:16.705457,NaN
4,5,http://katalogus.hasznaltauto.hu/mercedes-benz...,2002-01-01,2006-01-01,11684400,4,5,1610,540,D-Segment,Sedan,MERCEDES-BENZ,E 220,automatic AC,2023-05-16 16:35:16.705457,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17092,17093,http://katalogus.hasznaltauto.hu/cadillac/esca...,2006-01-01,2009-01-01,21914800,5,7,2609,479,J-Segment,SUV,CADILLAC,ESCALADE,no AC,2023-05-16 16:35:16.705457,NaN
17093,17094,http://katalogus.hasznaltauto.hu/cadillac/srx_...,2005-01-01,2009-01-01,18646900,5,7,2051,238,J-Segment,SUV,CADILLAC,SRX,digital 2zone AC,2023-05-16 16:35:16.705457,NaN
17094,17095,http://katalogus.hasznaltauto.hu/cadillac/srx_...,2005-01-01,2009-01-01,14619100,5,7,1996,238,J-Segment,SUV,CADILLAC,SRX,digital 2zone AC,2023-05-16 16:35:16.705457,NaN
17095,17096,http://katalogus.hasznaltauto.hu/subaru/b9_tri...,2006-01-01,2008-01-01,13770000,5,5,1925,525,J-Segment,SUV,SUBARU,B9 TRIBECA,digital 2zone AC,2023-05-16 16:35:16.705457,NaN
17096,17097,http://katalogus.hasznaltauto.hu/subaru/b9_tri...,2006-01-01,2008-01-01,12520000,5,5,1925,525,J-Segment,SUV,SUBARU,B9 TRIBECA,digital 2zone AC,2023-05-16 16:35:16.705457,NaN

### Dimenzijska tablica *engines*

In [409]:
dim_engines_df = catalogs_df.merge(fuel_df, on='fuel_id'
                    ).merge(environmental_df, on='environmental_id'
                    ).merge(cylinder_df, on='cylinder_id'
                    ).merge(drive_df, on='drive_id'
                    ).merge(shifter_df, on='shifter_id')

dim_engines_df['dim_engine_id'] = dim_engines_df.index + 1
dim_engines_df['start_date'] = pd.Timestamp.today()
dim_engines_df['end_date'] = np.nan

dim_engines_df = dim_engines_df[['dim_engine_id', 'catalog_url', 'fuel', 'fuel_tank_liter', 'environmental_name', 'engine_size_cm3',
                                 'consumption_city', 'consumption_highway', 'consumption_mixed', 'top_speed_kmh',
                                 'acceleration_100kph_seconds', 'torque_nm', 'horse_power', 'drive_name',
                                 'cylinder_layout', 'cylinders_number', 'shifter', 'start_date', 'end_date']].drop_duplicates()

dim_engines_df

,dim_engine_id,catalog_url,fuel,fuel_tank_liter,environmental_name,engine_size_cm3,consumption_city,consumption_highway,consumption_mixed,top_speed_kmh,acceleration_100kph_seconds,torque_nm,horse_power,drive_name,cylinder_layout,cylinders_number,shifter,start_date,end_date
0,1,http://katalogus.hasznaltauto.hu/mercedes-benz...,Dízel,66,EURO 5,2143,8.5,5.0,6.3,230,8.9,400,170,RWD,Soros,4,T7,2023-05-16 16:35:16.833051,NaN
1,2,http://katalogus.hasznaltauto.hu/mercedes-benz...,Dízel,59,EURO 5,2143,6.6,4.5,5.3,242,7.5,500,204,RWD,Soros,4,T7,2023-05-16 16:35:16.833051,NaN
2,3,http://katalogus.hasznaltauto.hu/mercedes-benz...,Dízel,57,EURO 5,2143,6.3,5.3,5.7,195,10.8,380,163,RWD,Soros,4,T7,2023-05-16 16:35:16.833051,NaN
3,4,http://katalogus.hasznaltauto.hu/mercedes-benz...,Dízel,59,EURO 5,2143,6.5,4.7,5.4,207,9.5,360,136,RWD,Soros,4,T7,2023-05-16 16:35:16.833051,NaN
4,5,http://katalogus.hasznaltauto.hu/mercedes-benz...,Dízel,59,EURO 5,2143,6.7,4.9,5.6,203,10.1,360,136,RWD,Soros,4,T7,2023-05-16 16:35:16.833051,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6589,6590,http://katalogus.hasznaltauto.hu/peugeot/607_3...,Benzin,80,EURO 3,2946,14.4,7.8,10.2,232,9.9,285,207,FWD,V,6,T4,2023-05-16 16:35:16.833051,NaN
6590,6591,http://katalogus.hasznaltauto.hu/chrysler/300m...,Benzin,64,EURO 2,3518,16.7,8.7,11.6,230,8.8,340,252,FWD,V,6,T4,2023-05-16 16:35:16.833051,NaN
6591,6592,http://katalogus.hasznaltauto.hu/volvo/xc90_2....,Benzin,72,EURO 3,2922,18.5,9.6,12.9,210,9.3,380,272,AWD,Soros,6,T4,2023-05-16 16:35:16.833051,NaN
6592,6593,http://katalogus.hasznaltauto.hu/subaru/outbac...,Benzin,64,EURO 4,2457,11.6,6.7,8.5,197,10.9,226,165,AWD,Boxer,4,T4,2023-05-16 16:35:16.833051,NaN
6593,6594,http://katalogus.hasznaltauto.hu/mercedes-benz...,Benzin,80,EURO 6,2996,12.6,7.2,9.2,250,5.5,500,367,AWD,V,6,T9,2023-05-16 16:35:16.833051,NaN

### Tablica činjenica *advertisements*

In [410]:
ft_advertisements_df = advertisements_df.merge(dim_ad_status_df, on=['pro_seller', 'highlighted', 'is_sold'], how='left'
                            ).merge(dim_places_df, on='postal_code'
                            ).merge(dim_catalogs_df, on='catalog_url'
                            ).merge(dim_engines_df, on='catalog_url'
                            ).merge(dim_dates_df, on='upload_date')
ft_advertisements_df['ft_ad_id'] = ft_advertisements_df.index
ft_advertisements_df = ft_advertisements_df[['ft_ad_id', 'ad_id', 'dim_date_id', 'dim_catalog_id', 'dim_engine_id', 'dim_place_id', 'dim_ad_status_id', 'mileage', 'ad_price']].drop_duplicates()
ft_advertisements_df

,ft_ad_id,ad_id,dim_date_id,dim_catalog_id,dim_engine_id,dim_place_id,dim_ad_status_id,mileage,ad_price
0,0,4066033,1,2074,6316,1125,8,148000,1290000
1,1,4066033,1,2075,6316,1125,8,148000,1290000
2,2,4066033,1,2076,6316,1125,8,148000,1290000
3,3,4066033,1,2077,6316,1125,8,148000,1290000
4,4,4066033,1,2078,6316,1125,8,148000,1290000
...,...,...,...,...,...,...,...,...,...
66955,66955,13711621,296,6110,1055,907,8,286120,2190000
66956,66956,13937749,510,1313,3272,1044,2,166215,1590000
66957,66957,13841841,482,1173,5599,308,4,118000,569000
66958,66958,14181964,133,4612,5614,248,8,200000,160000
66959,66959,14181964,133,4613,5614,248,8,200000,160000

### Kreiranje CSV tablica

In [411]:
dim_dates_csv = dim_dates_df.to_csv('./datasets/dim/dim_dates.csv', index=False)
dim_places_csv = dim_places_df.to_csv('./datasets/dim/dim_places.csv', index=False)
dim_catalogs_csv = dim_catalogs_df.to_csv('./datasets/dim/dim_catalogs.csv', index=False)
dim_engines_csv = dim_engines_df.to_csv('./datasets/dim/dim_engines.csv', index=False)
dim_ad_statuses_csv = dim_ad_status_df.to_csv('./datasets/dim/dim_ad_statuses.csv', index=False)
ft_advertisements_csv = ft_advertisements_df.to_csv('./datasets/dim/ft_advertisements.csv', index=False)

### Spajanje sa skladištem i popunjavanje

In [413]:
dim_conn_string = 'postgresql://postgres:password123@127.0.0.1/dim-spi-projekt'
dim_db = create_engine(dim_conn_string)

try:
    dim_dates_table = dim_dates_df.to_sql('places', dim_db, if_exists='replace', index=False)
    dim_places_table = dim_places_df.to_sql('dates', dim_db, if_exists='replace', index=False)
    dim_catalogs_table = dim_catalogs_df.to_sql('catalogs', dim_db, if_exists='replace', index=False)
    dim_engines_table = dim_engines_df.to_sql('engines', dim_db, if_exists='replace', index=False)
    dim_ad_statuses_table = dim_ad_status_df.to_sql('ad_statuses', dim_db, if_exists='replace', index=False)
    ft_advertisements_table = ft_advertisements_df.to_sql('advertisements', dim_db, if_exists='replace', index=False)
except Exception as ex:
    print(ex)
else:
    print("Dimenzijske tablice su kreirane i popunjene.")

Dimenzijske tablice su kreirane i popunjene.