# Projekt iz SPI

## Checkpoint 1 za 09.03.2023:

Odabrati skup podataka i napraviti osnovnu analizu podataka u pythonu

Odabran skup podataka: **Ali Express Data**

Link na dataset: https://www.kaggle.com/datasets/abdullahbuzaid/ali-express-data?select=raw_csv.csv

Osnovna analiza podataka:

- učitati iz csv u dataframe (pandas)
- pregled prvih 5 redaka
- veličina skupa
- nazivi stupaca
- broj nedostajućih vrijednosti po stupcu (.isna)
- jedinstvene vrijednosti (.unique())
- ispis tipova podataka (.dtypes)
- frekvencije vrijednosti po stupcu (petlja, data[column].value_counts())

Pitanja:

1. Da li je skup podataka dovoljno velik?
2. Da li skup ima dovoljno različite podatke?
3. Da li skup ima vremensku dimenziju?
4. Da li skup ima kvantitativne i kvalitativne podatke?
5. Da li skup ima puno nedostajućih vrijednosti?

Skup, rezultate analize i odgovore na pitanja kratko prezentirati (5 min.) na vježbama 09.03.

### Instalacija paketa

In [1]:
#import numpy as np
import pandas as pd
#from matplotlib import pyplot as plt
#from collections import Counter

### Učitavanje dataseta u dataframe

In [2]:
df = pd.read_csv('ali_express_data.csv')

### Pregled prvih 5 redaka

In [3]:
df.head()

,id,storeId,storeName,title,rating,lunchTime,category,postCategory,sold,price,discount,shippingCost,imageUrl,storeUrl,category_name,category_id,type
0,1005002508947205,900250272,IDEACH Official Store,Wireless Handheld Vacuum Cleaner 10kPa 150W Po...,4.8,2021-04-19 00:00:00,NaN,608,1487 sold,464.16,76,0,//ae01.alicdn.com/kf/S29307438fb224285b2981d71...,//www.aliexpress.com/store/900250272,home-appliances,6,natural
1,1005004546160959,5379102,Factory Direct Collected Store,Portable Water Drop Humidifier USB Desktop Ind...,4.8,2022-07-19 00:00:00,NaN,625,5348 sold,22.28,54,0,//ae01.alicdn.com/kf/S8d4807ce10bd4152850ec872...,//www.aliexpress.com/store/5379102,home-appliances,6,natural
2,1005004967489874,911794975,HOMDD Specialty Store,Portable Desktop Instant Automatic Multi-Speed...,0.0,2022-11-17 00:00:00,NaN,610,1 sold,251.76,25,0,//ae01.alicdn.com/kf/Sdae1fa83cf1a482397b6e061...,//www.aliexpress.com/store/911794975,home-appliances,6,natural
3,1005003601452827,912652146,XINGHUO ONLINE Store,Portable 420ml Air Humidifier Aroma Oil Humidi...,4.7,2021-11-24 00:00:00,NaN,625,2979 sold,8.95,84,0,//ae01.alicdn.com/kf/Se200f7a404974c87b5941587...,//www.aliexpress.com/store/912652146,home-appliances,6,natural
4,33022569739,4991203,ABIR Official Store,ABIR X6 Robot Vacuum Cleaner Visual Navigatio...,4.7,2019-05-24 00:00:00,NaN,608,2103 sold,775.35,59,0,//ae01.alicdn.com/kf/Scfe6fa94f0644aaabff79c0f...,//www.aliexpress.com/store/4991203,home-appliances,6,ad

### Veličina skupa

In [4]:
df.shape

(864270, 17)

### Nazivi stupaca

In [5]:
list(df.columns)

['id',
 'storeId',
 'storeName',
 'title',
 'rating',
 'lunchTime',
 'category',
 'postCategory',
 'sold',
 'price',
 'discount',
 'shippingCost',
 'imageUrl',
 'storeUrl',
 'category_name',
 'category_id',
 'type']

### Broj nedostajućih vrijednosti po stupcu

In [6]:
df.isna().sum()

id                    0
storeId               0
storeName             0
title                 0
rating                0
lunchTime             0
category         864270
postCategory          0
sold                  0
price                 0
discount              0
shippingCost          0
imageUrl              0
storeUrl              0
category_name         0
category_id           0
type                  0
dtype: int64

### Jedinstvene vrijednosti

In [7]:
cols_unique_num = {col: len(df[col].unique()) for col in df.columns}
cols_unique_num

{'id': 623083,
 'storeId': 99362,
 'storeName': 99468,
 'title': 595296,
 'rating': 41,
 'lunchTime': 3700,
 'category': 1,
 'postCategory': 3186,
 'sold': 4923,
 'price': 59308,
 'discount': 100,
 'shippingCost': 16017,
 'imageUrl': 626402,
 'storeUrl': 99362,
 'category_name': 325,
 'category_id': 325,
 'type': 2}

### Tipovi podataka

In [8]:
df.dtypes

id                 int64
storeId            int64
storeName         object
title             object
rating           float64
lunchTime         object
category         float64
postCategory       int64
sold              object
price            float64
discount           int64
shippingCost      object
imageUrl          object
storeUrl          object
category_name     object
category_id        int64
type              object
dtype: object

### Frekvencije vrijednosti po stupcu

In [9]:
value_counts = [df[col].value_counts() for col in df.columns]
value_counts

[1005004840696892    17
 4000015721466       14
 4001362473511       14
 32886549449         14
 4000220201740       14
                     ..
 1005003267237554     1
 1005003988694585     1
 4000681408056        1
 1005003350878391     1
 1005004476618259     1
 Name: id, Length: 623083, dtype: int64,
 5570009       1940
 5241042       1354
 1102152910    1229
 5370096       1214
 1921635       1025
               ...
 1102067149       1
 912470609        1
 5870597          1
 1102262494       1
 419368           1
 Name: storeId, Length: 99362, dtype: int64,
 ETENITY BOWLING Store                  1940
 Digitaling Store                       1354
 Small Universe Technology Store        1229
 Kids&toy Store                         1214
 FAIR_SZ SECURITY Store                 1025
                                        ...
 Sincerity Electronics Store               1
 Nanjing KJT Electric Official Store       1
 Lushigher IC Store                        1
 rongbinstore Store                        1
 Shop419368 Store                          1
 Name: storeName, Length: 99468, dtype: int64,
 USB Plug Lamp Computer Mobile Power Charging USB Small Book Lamps LED Eye Protection Reading Light Small Round Light Night Light    57
 Cartoon Cuddly Moving Ear Rabbit Hat Dance Plush Toy Plush Cap Hat Soft Stuffed Animal Toy Toys for Children                        49
 Portable Baby Hygiene Toilet Urinal Boys Girls Pot Outdoor Car Travel Anti-leakage Potty Kids Convenient Toilet Training Potty      42
 Geniune Forest Animal Baby Toys Rabbit Family Dolls Dollhouse Figures CollectibleFurniture Set Gift                                 42
 Pill Cutter Box Portable Convenient Drug Box Tablet Cutter Splitter Medicine Pill Holder Pill Cutter box                            41
                                                                                                                                     ..
 Factory directly supply good price walkies talkie 4G smart portable wireless phone intercom                                          1
 4 Channel 1080p H.264 Car GPS Tracking 3G 4G WiFi Mobile DVR Dash Cam Vehicle Bus Truck Safe Driving Aid                             1
 Factory Direct 4G Adas Android Rear View Mirror Dvr Dual Lens Driving Recorder Q98 Full HD 10" GPS Car Navigation Camera HUD         1
 2 in 1 Unicorn Car Action Figures Toys Magnetic Cartoon Horse Robot Deformation Figurine Transformation Auto Model Boy Cool Gift     1
 NEW FBS-232P0-9F PLC Programming Cable RS232 Port FBS-232-P0-9F                                                                      1
 Name: title, Length: 595296, dtype: int64,
 0.0    451432
 5.0    233051
 4.8     38205
 4.9     34148
 4.7     24581
 4.5     16407
 4.0     15275
 4.6     14835
 4.3      7478
 4.4      6366
 3.0      4727
 4.2      3370
 1.0      3237
 3.7      2463
 4.1      1456
 3.5      1439
 3.8      1195
 2.0      1162
 3.3       765
 3.9       631
 3.6       362
 2.5       357
 3.4       333
 2.3       253
 3.2       144
 2.8       141
 2.7       120
 1.5        79
 3.1        54
 2.6        45
 1.7        29
 2.4        27
 1.8        22
 2.9        17
 2.2        17
 2.1        15
 1.3        13
 1.6         6
 1.9         6
 1.4         5
 1.2         2
 Name: rating, dtype: int64,
 2022-11-30 00:00:00    6158
 2022-11-29 00:00:00    5007
 2022-11-28 00:00:00    4428
 2022-11-23 00:00:00    4079
 2022-10-12 00:00:00    3965
                        ...
 2011-06-27 00:00:00       1
 2011-08-11 00:00:00       1
 2010-02-01 00:00:00       1
 2012-07-20 00:00:00       1
 2013-07-18 00:00:00       1
 Name: lunchTime, Length: 3700, dtype: int64,
 Series([], Name: category, dtype: int64),
 100001793    7212
 2622         5865
 39050508     5165
 63705        4917
 200004343    4333
              ...
 201218701       1
 200001346       1
 200327234       1
 201346402       1
 200000485       1
 Name: postCategory, Length: 3186, dtype: int64,
 0            286051
 1 sold        75211
 2 sold        48718
 3 sold        36244
 4 sold        28892
               ...
 8676 sold         1
 7699 sold         1
 2452 sold         1
 4954 sold         1
 2410 sold         1
 Name: sold, Length: 4923, dtype: int64,
 3.86       3469
 19.26      3257
 7.68       2753
 15.40      2456
 11.54      2271
            ...
 1033.44       1
 2036.35       1
 1273.46       1
 3002.55       1
 221.77        1
 Name: price, Length: 59308, dtype: int64,
 0     137981
 50     72490
 30     61282
 40     46760
 20     35893
        ...
 95        75
 94        39
 96        25
 98        12
 97         8
 Name: discount, Length: 100, dtype: int64,
 0          244596
 None        66198
 12.2        11068
 12.47        6139
 14.13        5578
             ...
 376.85          1
 464.89          1
 939.71          1
 9793.72         1
 51.34           1
 Name: shippingCost, Length: 16017, dtype: int64,
 //ae01.alicdn.com/kf/He3ab12dee7de4a5cb0da87a5ead0de5dF/Outer-diameter14mm-42CrMo-seamless-steel-pipe-precision-pipe-explosion-proof-crack-free-lathe-inner-and-outer.jpg_220x220xz.jpg         21
 //ae01.alicdn.com/kf/S8aff2d37ebb24112b6e7504acbec1c95y/Moda-Casual-bag-for-men-Mochila-Gimnasio-Viajes-Deportes-Tote-Bag-shoulder-bag-husband-sport-backpack.jpg_220x220xz.jpg                 19
 //ae01.alicdn.com/kf/S6e022565d1d14bcfbb32553bce2f3f1am/Led-Five-Head-Headlight-Strong-Light-Super-Bright-Rechargeable-Fishing-Lamp-Long-Range-Head-Mounted-Mine.jpg_220x220xz.jpg              18
 //ae01.alicdn.com/kf/S4a9c8d012374418481dff5938f31f583A/1set-Sonic-Bamboo-Electric-Toothbrush-Waterproof-Ultrasonic-Automatic-Tooth-Brush-with-3-Soft-Head-Oral-Hygiene.jpg_220x220xz.jpg       17
 //ae01.alicdn.com/kf/S990b79bf4a20425492babbcfa0432a5a7/RGB-Curtain-LED-String-Lights-Christmas-Decoration-Remote-Control-Holiday-Wedding-Fairy-Garland-Lights-for-Bedroom.jpg_220x220xz.jpg    16
                                                                                                                                                                                                 ..
 //ae01.alicdn.com/kf/Hdc6b8842ef9f46938ad61fa54a3e9a23i/Light-Luxury-Bar-Stools-American-High-Chair-Back-Nordic-Bar-Chair-Modern-Minimalist-Home-Bar-Stool.jpg_220x220xz.jpg                     1
 //ae01.alicdn.com/kf/Sbce7f3c1ec034d9f8c68411bdfe23b15q/LED-Light-Bar-Cassette-Table-Simple-Luminous-Table-for-Outdoor-Party-In-Bar-and-Hotel-Bar.jpg_220x220xz.jpg                              1
 //ae01.alicdn.com/kf/Sa485ae51ad2a4786863346cecc1fccacp/Nordic-Wrought-Iron-Solid-Wood-Wine-Rack-Wall-Hanging-Wine-Cabinet-Creative-Wall-Wine-Display-Rack.jpg_220x220xz.jpg                     1
 //ae01.alicdn.com/kf/S49938002d58c4238b5744e2f6e15b3a2b/Solid-Wood-Bar-Chair-Back-Simple-North-European-Home-Milk-Tea-Shop-Coffee-Shop-Retro-Bar.jpg_220x220xz.jpg                               1
 //ae01.alicdn.com/kf/Sa125d5752c0040659b9f0fe5236bd856U/NEW-FBS-232P0-9F-PLC-Programming-Cable-RS232-Port-FBS-232-P0-9F.jpg_220x220xz.jpg                                                        1
 Name: imageUrl, Length: 626402, dtype: int64,
 //www.aliexpress.com/store/5570009       1941
 //www.aliexpress.com/store/5241042       1354
 //www.aliexpress.com/store/1102152910    1229
 //www.aliexpress.com/store/5370096       1214
 //www.aliexpress.com/store/1921635       1025
                                          ...
 //www.aliexpress.com/store/1102067149       1
 //www.aliexpress.com/store/912470609        1
 //www.aliexpress.com/store/5870597          1
 //www.aliexpress.com/store/1102262494       1
 //www.aliexpress.com/store/419368           1
 Name: storeUrl, Length: 99362, dtype: int64,
 home-appliances              7256
 lights-lighting              6296
 arts-crafts-diy-toys         3900
 kitchen-dining-bar           3899
 iot-devices                  3895
                              ...
 sex-products                   36
 software-games                 30
 baby-food                      23
 office-software                12
 cart-atilde-o-de-presente       1
 Name: category_name, Length: 325, dtype: int64,
 6            7256
 39           6296
 200218357    3900
 200002086    3899
 205662015    3895
              ...
 200003045      36
 205964202      30
 200218586      23
 205342002      12
 205967201       1
 Name: category_id, Length: 325, dtype: int64,
 natural    808610
 ad          55660
 Name: type, dtype: int64]

### Pitanja

1. Da li je skup podataka dovoljno velik?

2. Da li skup ima dovoljno različite podatke?

3. Da li skup ima vremensku dimenziju?

4. Da li skup ima kvantitativne i kvalitativne podatke?

5. Da li skup ima puno nedostajućih vrijednosti?

## Checkpoint 2 za 23.03. i 30.03.2023

Izrada relacijskog modela i baze podataka

1. Izraditi ER dijagram (konceptualni dizajn baze):
- identificirati entitete
- identificirati atribute entiteta
- definirati odnose između entiteta
- definirati kardinalnost

2. Izraditi bazu podataka u DBMS-u (logički dizajn baze, npr. u MySQL)

3. Napuniti bazu podataka sa podacima iz CSVa
- napisati skriptu u Pythonu koja će napuniti bazu

## ER Dijagram

![ER Dijagram](image/er-diagram.png "ER Dijagram")

## Transformiranje podataka

In [10]:
# Brisanje nepotrebnih stupaca
df = df.drop(['imageUrl', 'storeUrl', 'postCategory', 'category'], axis=1)

In [11]:
# Preimenovanje stupaca
df.rename(columns = {
    'lunchTime': 'launch_datetime',
    'shippingCost': 'shipping_cost',
    'storeId': 'store_id',
    'storeName': 'store_name',
    'type': 'advertised'
}, inplace = True)

In [12]:
# Troškovi dostava
df['shipping_cost'] = pd.to_numeric(df['shipping_cost'], errors='coerce').fillna(0)

# Broj prodanih artikla
df['sold'] = df['sold'].map(lambda x: x[:-5])
df['sold'] = pd.to_numeric(df['sold'], errors='coerce').fillna(0)

# Oznaka za reklamaciju (je li artikl reklamiran)
df['advertised'] = df['advertised'].map(lambda x: x == 'ad')

# Datum lansiranja artikla
df['launch_datetime'] = pd.to_datetime(df['launch_datetime'])

In [13]:
# Automatska promjena tipova podataka
df = df.convert_dtypes()

In [14]:
# Provjera tipova podataka
df.dtypes

id                          Int64
store_id                    Int64
store_name                 string
title                      string
rating                    Float64
launch_datetime    datetime64[ns]
sold                        Int64
price                     Float64
discount                    Int64
shipping_cost             Float64
category_name              string
category_id                 Int64
advertised                boolean
dtype: object

### Tablica *stores*

In [15]:
store = pd.concat([df['store_id'], df['store_name']], axis=1).drop_duplicates(subset=['store_id'])
store.rename(columns = {
    'store_id': 'id',
    'store_name': 'name'
}, inplace = True)
store

                id                              name
0        900250272             IDEACH Official Store
1          5379102    Factory Direct Collected Store
2        911794975             HOMDD Specialty Store
3        912652146              XINGHUO ONLINE Store
4          4991203               ABIR Official Store
...            ...                               ...
863994      513871  MasterFire Battery&Charger Store
864015     1823237            liitokala Direct Store
864041  1100177207              Shop1060920357 Store
864101  1102244691              Shop1102244691 Store
864104      419368                  Shop419368 Store

[99362 rows x 2 columns]

### Tablica *categories*

In [16]:
category = pd.concat([df['category_id'], df['category_name']], axis=1).drop_duplicates(subset=['category_id'])
category.rename(columns = {
    'category_id': 'id',
    'category_name': 'name'
}, inplace = True)
category

               id                       name
0               6            home-appliances
779     200214052       household-appliances
1559    200214073   personal-care-appliances
2339    200217027      commercial-appliances
3119    200217594           major-appliances
...           ...                        ...
243626  205780509              women-panties
433292  200001096  traditional-cultural-wear
439348  200000783                   sweaters
702188         18       sports-entertainment
805238  200005156                    running

[325 rows x 2 columns]

### Tablica *products*

In [17]:
product_columns = [df[[
    'id',
    'title',
    'rating',
    'launch_datetime',
    'sold',
    'price',
    'discount',
    'shipping_cost',
    'advertised',
    'store_id',
    'category_id'
]]]
product = pd.concat(product_columns, axis=1).drop_duplicates(subset=['id'])

product

,id,title,rating,launch_datetime,sold,price,discount,shipping_cost,advertised,store_id,category_id
0,1005002508947205,Wireless Handheld Vacuum Cleaner 10kPa 150W Po...,4.8,2021-04-19,1487,464.16,76,0.0,False,900250272,6
1,1005004546160959,Portable Water Drop Humidifier USB Desktop Ind...,4.8,2022-07-19,5348,22.28,54,0.0,False,5379102,6
2,1005004967489874,Portable Desktop Instant Automatic Multi-Speed...,0.0,2022-11-17,1,251.76,25,0.0,False,911794975,6
3,1005003601452827,Portable 420ml Air Humidifier Aroma Oil Humidi...,4.7,2021-11-24,2979,8.95,84,0.0,False,912652146,6
4,33022569739,ABIR X6 Robot Vacuum Cleaner Visual Navigatio...,4.7,2019-05-24,2103,775.35,59,0.0,True,4991203,6
...,...,...,...,...,...,...,...,...,...,...,...
864206,1005004961851837,New Original RC902V FMR5 For TCL 8K Qled Smart...,0.0,2022-11-15,1,38.21,10,0.0,False,117712,44
864207,1005004659411453,1800mAh ICOM BP-264 BP264 Battery for IC-F3101...,5.0,2022-08-18,1,68.07,20,71.18,False,1102181212,44
864208,1005004840722028,Remote Control Suitable for Samsung SMART TV B...,0.0,2022-10-13,2,4.48,51,0.0,False,2985025,44
864268,1005004954707268,New Replacement CD Remote Control For DENON RC...,0.0,2022-11-14,0,14.94,10,9.03,False,117712,44
864269,1005004476618259,NEW FBS-232P0-9F PLC Programming Cable RS232 P...,0.0,2022-06-30,0,42.72,12,32.19,False,911459011,44

### Instalacija paketa za spajanje sa PostgreSQL bazom podataka

In [18]:
import psycopg2
from sqlalchemy import create_engine

### Spajanje s bazom podataka

In [19]:
conn_string = 'postgresql://postgres:password123@127.0.0.1/spi-projekt'

db = create_engine(conn_string)

### Kreiranje i popunjavanje tablica

In [20]:
try:
    category_table = category.to_sql('categories', db, if_exists='replace', index=False)
    store_table = store.to_sql('stores', db, if_exists='replace', index=False)
    product_table = product.to_sql('products', db, if_exists='replace', index=False)
except Exception as ex:
    print(ex)
else:
    print("PostgreSQL tablice su kreirane i popunjene.")
finally:
    conn.close()

PostgreSQL tablice su kreirane i popunjene.